[2015-05-28 21:36] rnelson0 opened #2 "Audits check CLI arguments, not actual settings"
Lots of the tests (particularly in 2) look at CLI args to commands, like docker, i.e. https://github.com/diogomonica/docker-bench-security/blob/master/tests/2_docker_daemon_configuration.sh#L72 looks for `-H` via `ps -ef | grep docker | grep "\-H"`.

It appears you could easily fake this out with liberal toying with the docker arguments. Reviewing them at https://docs.docker.com/reference/commandl

[2015-05-28 22:18] rnelson0 commented on #2
Also, `/bin/ps` of `ps` may help avoid the possibility of PATH exploits. If that affects POSIX compliance (as convoluted as that may be) then detecting the correct location such as `/bin/ps` or `/usr/bin/ps`, etc., and storing that in a variable used where `ps` is used currently would provide similar protection.

[2015-05-31 07:04] zopyx opened #15 "/var/lib/docker/devicemapper/mnt/d68c341169cec947dda3104e469511f132d31a757c5bc2ef947f349c0322ad08/rootfs/etc/hostname: read-only file system"
CentOS 6.6:

docker version
Client version: 1.6.2
Client API version: 1.18
Go version (client): go1.4.2
Git commit (client): 7c8fca2
OS/Arch (client): linux/amd64
Server version: 1.6.2
Server API version: 1.18
Go version (server): go1.4.2
Git commit (server): 7c8fca2
OS/Arch (server): linux/amd64

Timestamp: 2015-05-31 09:03:30.895404758 +0200 CEST
Code: System error

Message: open /var/lib/docker

[2015-06-01 13:06] lwcolton opened #17 "auditctl not found"
Several of the tests will fail if the auditctl command is not found.  Shouldn't this be something that's installed in the image?

[2015-06-01 13:38] zopyx commented on #15
Same issue on OpenSuSe 13.1

docker version
Client version: 1.6.2
Client API version: 1.18
Go version (client): go1.4.2
Git commit (client): 7c8fca2
OS/Arch (client): linux/amd64
Server version: 1.6.2
Server API version: 1.18
Go version (server): go1.4.2
Git commit (server): 7c8fca2
OS/Arch (server): linux/amd64
blackmoon2:/home/ajung # sh out
Timestamp: 2015-06-01 15:37:31.928079769 +0200 CEST
Co

[2015-06-01 16:05] diogomonica commented on #17
The point of using the `auditctl` binary directly, it to check the host's configuration auditctl policies. If the host doesn't have the `auditctl` binary, it is safe to assume that it also doesn't have any policies in place.

[2015-06-01 16:06] diogomonica commented on #15
@zopyx can you try to run the container without RO

[code]

[2015-06-01 16:11] zopyx commented on #15
This is working

[2015-06-01 16:18] diogomonica commented on #15
Great. I changed the readme to remove mounting as read-only. I was doing it to set a good example of how to run containers with increased isolation from your system, but this container is too privileged for this to matter.

Thank you for reporting this.

[2015-06-01 16:18] #15 closed

[2015-06-01 19:45] #17 closed

[2015-06-01 21:54] fatherlinux opened #19 "Sections 1.8 through 1.18 are failing on RHEL7 hosts"
When I use the following command, these sections fail:

docker run -it --net host --pid host -v /var/run/docker.sock:/var/run/docker.sock -v /usr/lib/systemd:/usr/lib/systemd -v /etc:/etc --label docker-bench-security diogomonica/docker-bench-security

Sections

[WARN] 1.8  - Failed to inspect: auditctl command not found.
[WARN] 1.9  - Failed to inspect: auditctl command not found.
[WARN] 1.10 - F

[2015-06-01 22:06] fatherlinux opened #20 "Bug: [WARN] 1.1 - Create a separate partition for containers"
Though, the upstream CIS Benchmark only specifies one way of testing, I am thinking that another test might make sense to determine if someone is using an external partition.

It seems brittle, but checking /etc/sysconfig/docker-storage for the dm.thinpooldev string, then ensuring that it's

DOCKER_STORAGE_OPTIONS=--storage-opt dm.fs=xfs --storage-opt dm.thinpooldev=/dev/mapper/rhel-docker--pool

[2015-06-02 13:31] amouat opened #21 "CPU information misleading"
The benchmark reports:

    [WARN]      * Container running without CPU restrictions: 9f39cbf8e538

This is misleading at best, as CPU shares are relative and set by default. This means that a user who doesn't set any CPU shares will find that all containers share CPU equally when under load. Contrast this with a user who sets containers to a share of 10 by default, if they accidentally set a cont

[2015-06-02 14:47] diogomonica commented on #21
Adrian, thank you for submitting the issue.

This tool checks for the automatable tests of the Docker CIS Benchmark: https://benchmarks.cisecurity.org/downloads/show-single/?file=docker16.100

The Benchmark itself is an open initiative together with the Center for Internet Security. While I understand your comment, this is better addressed in the discussion around the benchmark document itself.

[2015-06-02 14:47] #21 closed

[2015-06-02 14:59] diogomonica commented on #19
@fatherlinux the issue is that inside of the container `auditctl` doesn't exist. When you run directly from the command line using `sh script.sh`, it uses the hosts binaries to check for the benchmark. When you run the container, it uses the container's binaries.

We're using Alpine Linux for the base layer, and unfortunately I don't see any packages to bring auditctl in. I might have to change th

[2015-06-02 15:41] amouat commented on #21
OK. I have read the document. Is there an open discussion somewhere?

As it stands, I think this rule is actively harmful as it is encouraging users to change something they may not understand.

[2015-06-02 15:43] diogomonica commented on #21
Adrian, I think you can do it here: https://benchmarks.cisecurity.org/community/projects/

[2015-06-02 15:49] amouat commented on #21
Thanks!

[2015-06-02 15:56] diogomonica commented on #21
Thank you Adrian. Would love to have you participate on the next version of the Benchmark.

[2015-06-02 20:23] konstruktoid commented on #20
This thing is that  /etc/sysconfig/docker-storage is a RedHat construction if I recall correctly. The docker-storage file or the /etc/sysconfig/ directory doesn't exist on for example Ubuntu.

[2015-06-03 02:53] fatherlinux commented on #19
@iogomonica, you were right. I installed auditctl and a few other packages to make things work with a rhel container. I have generated a pull request. I am working on a centos specific Dockerfile too, I will generate a pull request when I am finished.

Also, you have to run the "docker run" command with the --privileged flag or things will not work right because of a bug in auditd where it can not

[2015-06-03 02:55] fatherlinux commented on #19
Dockerfile for CentOS working and tested... woo hoo

[2015-06-04 18:59] konstruktoid commented on #19
This isn't isolated to RH since the package is missing inside the container.
What are we aiming for with a RHEL and Centos dockerfile? If we get the container functionality we want , isn't size the deciding factor?

[2015-06-04 20:43] fatherlinux commented on #19
So, I think there is a common misconception that what operating system is inside the container doesn't matter. That said, there are entry of security minded people that very much believe it does [1].

I think there are also a number of people that are skeptical from a functionality perspective [2].

My goal is to allow security minded people to build a CIS Benchmark container with a userspace that

[2015-06-04 22:31] konstruktoid commented on #19
I totally agree with you, except perhaps the part about "underlying OS" since it assumes that the underlying OS is RHEL/CentOS in this case.

[2015-06-05 06:51] fatherlinux commented on #19
Yeah, my apologies, I should have clarified. My goal is to have a CIS Benchmark container as an option for RHEL and CentOS users (underlying OS). The second goal is to allow them to build it themselves (for trust reasons).

I am not trying to prescribe that RHEL/CentOS is the best. If a user were using Ubuntu for the underlying OS, I would recommend a custom built Ubuntu userspace (container) for

[2015-06-09 08:30] konstruktoid opened #24 "No -U option in BusyBox"
https://github.com/docker/docker-bench-security/commit/362c62ac6e7535197282145be28a6360f15bb8dc replaced the `ps_` variables (https://github.com/docker/docker-bench-security/commit/2085e1d4877dd822892239a5cac95beefad28968) with `pgrep -U root -u root -lf` but BusyBox `pgrep` does not have the -U option:

[code]

[2015-06-10 21:39] ajohnstone opened #25 "1.11/1.12 Audit Docker files and directories - assumes docker is run under systemd"
1.11 Audit Docker files and directories - docker-registry.service

[code]

1.12 Audit Docker files and directories - docker.service (Scored)

[code]

[2015-06-10 22:09] konstruktoid commented on #25
This is the correct behavior since 1.11 and 1.12 in CIS Docker 1.6 Benchmark
v1.0.0 - 04-22-2015 p. 23-24 states that you should
"Audit /usr/lib/systemd/system/docker-registry.service, if applicable."
"Audit /usr/lib/systemd/system/docker.service, if applicable."

[2015-06-10 23:08] ajohnstone commented on #25
Thanks for the quick reply @konstruktoid

if it's not applicable (I.e systemd is not the process to spawn docker or the registry) then should warn mark potential issues as red?

Something marked as red on a report indicates to me that it needs to be addressed rather than a warm/notice?

[2015-06-11 02:39] #24 closed

[2015-06-12 21:51] diogomonica opened #31 "Wrong permission check in CoreOS?"
cat /etc/os-release
NAME=CoreOS
ID=coreos
VERSION=681.0.0
VERSION_ID=681.0.0
BUILD_ID=
PRETTY_NAME="CoreOS 681.0.0"
ANSI_COLOR="1;32"
HOME_URL="https://coreos.com/"
BUG_REPORT_URL="https://github.com/coreos/bugs/issues"

docker -v
Docker version 1.6.2, build 7c8fca2-dirty

docker run -it --net host --pid host -v /var/run/docker.sock:/var/run/docker.sock \

[WARN] 3.1  - Verify that docker.service

[2015-06-15 10:34] CtrlZvi commented on #20
Assuming that the docker daemon has to be running to to a valid test, we could simply us ps to check and see if dm.thinpooldev was specified, and if so, extract its value. That should be more cross platform.

Also, we should test for the existence of dm.datadev and dm.metadatadev. If both are specified then docker doesn't use the loopback device.

[2015-06-15 16:08] ahmetalpbalkan opened #33 "Does not complain for engine on TCP with no authentication"
I have opened my Docker host to the public internet without any TLS authentication:

[code]

and it didn't complain with any warnings or errors:

![image](https://cloud.githubusercontent.com/assets/159209/8164415/cb778b22-133d-11e5-8fd0-bb94b6bf94c3.png)

Not sure if that's a bug or by design, but I think `-H=ip` without `--tls**` must be a red flag of some sort.  I know there could be firewalls o

[2015-06-15 20:22] konstruktoid commented on #31
Reproducible when using Alpine and Debian base images.
Working on changing `ls` to `stat` on both owner and permission checks.

[2015-06-15 20:57] konstruktoid commented on #33
Thanks for the report, you're right we're not catching this.
`/usr/bin/docker --daemon -H=unix:// -H=0.0.0.0:2375`

[code]

[2015-06-15 21:38] konstruktoid commented on #33
#36 catches the unix:// as well, but a false positive is better.

[2015-06-15 21:38] #33 closed

[2015-06-15 22:02] konstruktoid commented on #25
I believe #26 resolves this issue.

[2015-06-15 22:02] #25 closed

[2015-06-15 22:10] konstruktoid commented on #19
Since the issue is that the auditctl command isn't present in Alpine distro and (in response to https://github.com/docker/docker-bench-security/issues/19#issuecomment-108170797) cap_audit_control is needed (https://github.com/docker/docker-bench-security/commit/cf7b13d5ba0f550424cf25eca0189c99a8fa3684), can this issue be closed and then create a new base image proposal (the Debian failed, https://

[2015-06-16 19:28] xamox opened #37 "README incorrect for quick start."
It appears 2 days ago it was changed to docker-bench-security, to pull from docker hub.  This container does not exists on docker hub so this is broken at the moment.

docker run -it --net host --pid host --cap-add audit_control \
    -v /var/lib:/var/lib \
    -v /var/run/docker.sock:/var/run/docker.sock \
    -v /usr/lib/systemd:/usr/lib/systemd \
    -v /etc:/etc --label docker-bench-security \

[2015-06-16 22:15] fatherlinux commented on #19
I think closing this is fine. Is there a way you could add my Dockerfile.centos and Dockerfile.redhat files as an option for users? Perhaps you could create a distros directory?

I really don't think you are going to find an "official" image distro (like Alpine) that will work for everyone (underlying OS) CentOS/Red Hat, CoreOS, Debian/Ubuntu, etc.

I suspect it's best to just let people build wha

[2015-06-17 00:22] diogomonica commented on #37
Fixed by adding diogomonica/docker-bench-security. I have to add this as an official image later on.

[2015-06-17 00:22] #37 closed

[2015-06-17 07:17] jerbia opened #38 "Proposal - Adding test for Docker socket access by container"
Hi,

I wanted to add an additional test to DockerBench, which is not part of CIS 1.6, and wanted to check whether this is aligned with DockerBench purpose.

The test is for checking whether a container has access to host's Docker socket. This can be done by chekcing if container is executed with '-v /var/run/docker.sock:/var/run/docker.sock', or top level mount points that can provide such access.

[2015-06-17 14:26] konstruktoid commented on #19
That sounds like a good idea @fatherlinux in my opinion.
`distros/Dockerfile.{distribution}`

@diogomonica?

[2015-06-17 14:29] konstruktoid commented on #20
@CtrlZvi do you want to send a PR? Or do you want me to write something and let you and @fatherlinux verify?

[2015-06-17 14:32] konstruktoid commented on #38
Sounds interesting, please provide a PR and we can work from there.

[2015-06-17 18:23] jerbia commented on #38
Great. Will work on the PR.

[2015-06-17 18:24] diogomonica commented on #38
@jerbia @konstruktoid the way that we should do this is allow to have test profiles.

A test profile would list all the tests that it includes. We could have a CIS inspired profile, that runs the current set of tests; and allow other profiles that include more thorough/different tests.

Thoughts?

[2015-06-17 18:45] jerbia commented on #38
@diogomonica @konstruktoid This is very interesting idea!

Such profiles can be used for creating tests for specific themes, like finding compromised secrets, image missing patches, etc.

This sounds much better than having one profile with large number of sections for different topics.

[2015-06-17 19:55] diogomonica commented on #38
Agreed.

@konstruktoid I'm thinking that this might be better suited for a Go implementation, btw.

Something like: https://github.com/dockersecuritytools/batten ?

[2015-06-17 20:39] konstruktoid commented on #38
I agree with both of you regarding test profiles and specific themes.

@diogomonica https://github.com/dockersecuritytools/batten seems complete from a CIS profile point of view. And a Go implementation might be a more proper way to go as the project grows in complexity.
I just need to find me a Go crash-course.

[2015-06-21 20:10] konstruktoid commented on #31
Fixed by #39

[2015-06-21 20:10] #31 closed

[2015-06-22 13:58] jlusiardi opened #47 "Different behaviour for pgrep between version 3.3.3-3 (Debian 7) and 3.3.9-1ubuntu2.2 (Ubuntu 14.04)"
Hey guys,

i tried to execute your script on a Ubuntu 14.04 host and learned that pgrep from the procps tools (version 3.3.9-1ubuntu2.2) shipped with that distro changed it behaviour.

For example, taken from your script (2_docker_daemon_configuration.sh line 8)
[code]
In version **3.3.3-3** the result of "*pgrep -lf docker*" looks like "*2086 /usr/bin/docker -d -p /var/run/docker.pid*" which is p

[2015-06-22 20:55] snrism commented on #19
@fatherlinux @diogomonica : Any plans to add distro directory or move to a different base image? This can allow users to work with their OS and can save some cycles by avoiding the "command not found" error.

In my version, I skip 1.9-1.18,  if 1.8 fails with "Failed to inspect: auditctl command not found." error. Something like below.

# 1.8
check_1_8="1.8  - Audit docker daemon"
command -v audit

[2015-06-24 17:43] NathanMcCauley opened #51 "allow disabling on a rule-by-rule basis"
Some folks might like to disable rules on a case by case basis.

[2015-06-24 18:36] b-long commented on #51
:+1:

[2015-06-26 01:14] CtrlZvi commented on #20
Either way. I was going to write a PR, but I haven't had a chance to write one that covers all various device mapper cases I could think of. If you want me to write it, I'll try and tackle it tonight or this weekend (GMT-7)

[2015-06-26 14:52] skelethan commented on #51
Yes please!  This will help large organizations filter out noise and focus on the rules that are most important to them.

[2015-06-28 06:34] konstruktoid commented on #20
Sorry for the late reply @CtrlZvi, but please write something up when you got the time.

[2015-06-28 06:37] konstruktoid commented on #51
Sorry for the late reply @NathanMcCauley, but we're planning to rewrite the script and when doing so add support for individual and grouped tests.

[2015-06-28 17:38] diogomonica commented on #51
What me and @konstruktoid were thinking of doing was the ability of supporting different Profiles. Companies could reuse the current tests and selectively add/remove tests from any of the base profiles, and maybe even contribute them back to dockerbench.com.

[2015-06-28 17:39] diogomonica commented on #19
@snrism just merged @konstruktoid's PR. We now have a distro directory with a contribution README.

[2015-06-29 09:25] konstruktoid commented on #19
Close thanks to #50?

[2015-06-29 09:28] konstruktoid commented on #2
@rnelson0 regarding https://github.com/docker/docker-bench-security/issues/2#issuecomment-106615975, please leave a comment on https://github.com/docker/docker-bench-security/pull/48.

[2015-06-29 13:03] skelethan commented on #51
That's even better, will help as we bring more groups from our company onto Docker - each group can configure their own profile.

[2015-06-29 13:35] rnelson0 commented on #2
@konstruktoid Some huge changes here. Looks like much has been improved, thanks to you and others! I think there are still some minor gaps, take a gander and see if I'm on track.

It looks like #14 helps with the reduction of PATH exploits (I think it's reasonable to assume that if someone injects a new binary in those directories, you cannot protect against it without a higher level framework).

[2015-06-29 15:17] snrism commented on #19
@diogomonica Thanks!

[2015-07-01 18:17] konstruktoid commented on #47
Thanks @jlusiardi.
Closing this because of merge of #48.

[2015-07-01 18:17] #47 closed

[2015-07-01 18:20] konstruktoid commented on #2
Sorry for the late reply @rnelson0, and thanks for joining the discussion on #48.
I merged #48, so can we close this issue and possibly open a new if you want further improvements of the searches?

[2015-07-01 18:21] konstruktoid commented on #19
Closing because #50 was merged.

[2015-07-01 18:21] #19 closed

[2015-07-01 18:57] rtrauntvein commented on #51
I like the profiles idea

[2015-07-01 19:02] rnelson0 commented on #2
Sounds good, thanks.

[2015-07-01 19:02] #2 closed

[2015-07-08 13:22] fatherlinux commented on #20
BTW, has anybody thought about using OpenSCAP and Scap Workbench [1] to do these kinds of checks? I am thinking that with a super privileged container, it would be possible to do some cool things and the checks would now just become SCAP file format instead of brittle bash?

[1]: https://fedorahosted.org/scap-workbench/

[2015-07-08 13:22] fatherlinux commented on #20
Though I do still love me some good bash ;-)

[2015-07-08 20:34] konstruktoid commented on #20
SCAP file format would be a a nice addition @fatherlinux, but I think it would fit better under the more general `dockerbench.com` umbrella in the future. This shell script version is easy to use and compatible with most systems.

[2015-07-08 20:52] fatherlinux commented on #20
@konstruktoid, yeah, I kinda thought the same thing about SCAP.

[2015-07-30 17:57] phobologic opened #65 "auditctl not found, but on host OS"
Not sure how this is supposed to work, but whenever I run it on my host (Ubuntu 14.04) with auditctl installed, it always reports that auditctl was not found.  I'm running it via the docker run command in the README:

[code]

It doesn't list anything about mounting /sbin, so I'm not sure how it is supposed to find auditctl:

[code]

[2015-07-30 20:46] konstruktoid commented on #65
Hi,
`diogomonica/docker-bench-security`, and the default Dockerfile, uses `FROM alpine:3.2` which (sorry to say) doesn't include `auditctl`. A Debian `Dockerfile` is available https://github.com/docker/docker-bench-security/blob/master/distros/Dockerfile.debian.
I hope that helps.

[2015-07-30 21:17] konstruktoid commented on #65
@phobologic, any comments on https://github.com/docker/docker-bench-security/pull/66?

[2015-07-30 21:54] phobologic commented on #65
That seems fine - though it might be worth having the shell script actually output something about that itself.  Also - any reason not to create a docker image that actually has all the tools it needs to complete the task?

[2015-07-30 22:12] konstruktoid commented on #65
Thanks, I'll merge that README PR and you're absolutely right that the best solution would be a image that has all the tools. Sadly there has been some issues when running, for example, `FROM: debian` on a `CoreOS` host (see https://github.com/docker/docker-bench-security/pull/28). `Alpine`has so far been the most compatible solution.

[2015-07-30 22:33] phobologic commented on #65
Ahh - yeah, we used a lot of Alpine at my company for a while, then ran into issues in too many places (the lack of search paths with resolv.conf was brutal for us).  I'm using this tool to bring the AMI for Empire (https://github.com/remind101/empire) up to docker bench standards, so thanks for providing it :)

[2015-07-30 23:27] konstruktoid commented on #65
Thanks for using it and helping to improve it.
Closing since #66 was merged.

[2015-07-30 23:27] #65 closed

[2015-08-04 16:55] jwilmoth opened #68 "Add ability to filter out docker-bench-security container from results"
The Docker container that executes the security benchmark tests shows up in a number of warnings that obscures the work needed to secure the target Docker containers.  It would be nice to exclude the container that is running the tests from the analysis by default (or atleast add an option to exclude).

[2015-08-04 21:27] d-a-v-i-- commented on #68
confirmed. guess i should fix instead of just tweeting about it?

[2015-08-04 21:33] diogomonica commented on #68
@jwilmoth this container should already be excluded. That is why we are using the --label

[2015-08-04 21:38] d-a-v-i-- commented on #68
warnings i get when running are all for the docker-bench-security container itself

[2015-08-04 21:38] diogomonica commented on #68
@d-a-v-i-- confirmed locally. We have a regression somewhere. /cc @konstruktoid

[2015-08-04 21:39] d-a-v-i-- commented on #68
as mentioned Aug 1: https://twitter.com/daviottenheimer/status/627526813820960768

[2015-08-05 20:51] konstruktoid commented on #68
Sorry for the late reply, I merged #69 which should fix this issue.

[2015-08-06 15:01] konstruktoid commented on #68
Please reopen if #69 didn't fix.

[2015-08-06 15:01] #68 closed

[2015-08-10 14:25] iangelov opened #70 "Count unique images only"
We have a lot of images, which are mostly duplicates (they share the same image id) - I think that it would be best to count only the unique image ids.

[2015-08-10 21:31] konstruktoid commented on #70
Makes sense, will merge #71 and close.

[2015-08-10 21:31] #70 closed

[2015-09-14 10:44] lusitania opened #83 "Dockerfile.centos "misses" FROM"
If I use distros/Dockerfile.centos instead of the default one ``docker build`` yields this message:

[code]

Reordering 0: MAINTAINER <-> 1: FROM solves this issue.

Docker 1.7.1

Edit: I tried to create a pull request but I fail at the signing requirement, sorry

[2015-09-14 18:46] konstruktoid commented on #83
Thanks for your contribution @lusitania!
@fatherlinux could you update your `Dockerfile.centos` and send a PR with a reference to this issue?

[2015-09-16 16:37] konstruktoid commented on #83
Closed by merging #84.

[2015-09-16 16:37] #83 closed

[2015-10-30 10:07] gasgas4 opened #90 "Fail to find docker daemon"
1. Run

docker run -it --net host --pid host --cap-add audit_control \
    -v /var/lib:/var/lib \
    -v /var/run/docker.sock:/var/run/docker.sock \
    -v /usr/lib/systemd:/usr/lib/systemd \
    -v /etc:/etc --label docker_bench_security \
    docker/docker-bench-security

2. return

  Error connecting to docker daemon (does docker ps work?)

3. but docker ps and docker version all work

3.1 dock

[2015-10-31 10:28] konstruktoid commented on #90
Hi @gasgas4 and thank you for reporting this.
Can you include the commands and results?
A cut and paste from you shell when you go through the steps would be great.

[2015-11-11 16:35] andreasstieger opened #94 "3.25, 3.26 testing for docker sockets not POSIX"
Follow-up to 70b8d33cefa04241f2dc51dc4ce0070212c1c1b1

http://pubs.opengroup.org/onlinepubs/9699919799/utilities/test.html

    -f  pathname
        True if pathname resolves to an existing directory entry for a regular file.

3.25 and 3.26 code is:

    file="/var/run/docker.sock"
    if [ -f "$file" ]; then

Should be -S:

    -S  pathname
        True if pathname resolves to an existing directo

[2015-11-11 16:48] andreasstieger opened #95 "3.25 docker UNIX domain socket ownership check not working"
3.25 claims to check for root:docker, but instead checks for 00 (root:root).
    if [ "$(stat -c %u%g $file)" -eq 00 ]; then

[2015-11-11 19:47] #94 closed

[2015-11-11 19:47] #95 closed

[2015-11-12 10:24] andreasstieger opened #97 "command line options checks are for short or long versions of options only"
Only the short or long variants of various docker daemon command line options are checked for, giving incorrect results. The following are not accounted for (not necessarily exhaustive)

tests/2_docker_daemon_configuration.sh
* 2.3: -l, --log-level, only long version checked
* 2.8, 2.9, 2.10: -H, --host=[], only short checked

[2015-11-12 10:32] andreasstieger opened #98 "tests do not account for command line switched used multiple times"
Connected to #97: some checks are against non-cumulative options that can be specified multiple times, overwriting previous setting. e.g.:

    docker daemon --log-level="debug" --log-level="info"

This will run the daemon with info, but the grep in check 2.3 finds a false positive:

    # 2.3
    check_2_3="2.3  - Set the logging level"
    get_command_line_args docker | grep "log-level=\"debug\"

[2015-11-12 10:40] andreasstieger opened #99 "command line options tests check for specific quotation of options"
Connected to #97, #98: A specific use of quotation marks of the command line options is checked for:

    # 2.3
    check_2_3="2.3  - Set the logging level"
    get_command_line_args docker | grep "log-level=\"debug\"" >/dev/null 2>&1

This misses the following cases of spacing and quotation, all of which enable the debug mode:
* `--log-level=debug`
* `--log-level debug`

[2015-11-12 10:56] andreasstieger commented on #98
Also `docker daemon --icc=true --icc=false`

[2015-11-14 19:56] konstruktoid commented on #99
Thanks for reporting this issue @andreasstieger.

[2015-11-14 19:57] konstruktoid commented on #97
Thanks for reporting this @andreasstieger.

[2015-11-14 20:13] konstruktoid commented on #98
Thanks for reporting this issue @andreasstieger.

[2015-11-27 17:45] #97 closed

[2015-11-27 17:46] konstruktoid commented on #90
Closing to to inactivity.

[2015-11-27 17:48] konstruktoid commented on #99
Closed thanks to #100

[2015-11-27 17:48] #99 closed

[2015-11-27 17:48] konstruktoid commented on #98
Closed thanks to #100

[2015-11-27 17:48] #98 closed

[2015-12-01 14:32] andreasstieger opened #103 "1.6 version check claims a version as being current indefinately"
The version check 1.6 / `1_host_configuration.sh` has the following example output:

    [WARN] 1.6  - Keep Docker up to date
    [WARN]       * Using 1.8.3, when 1.9.0 is current.

This statement about 1.9.0 is only a snapshot in time, and is *untrue* with the release of the next version. The  code is frequently updated when docker version as it is released, e.g.  2e6d3b290a70ee7adfa3a4c97e2c3d28

[2015-12-01 15:07] andreasstieger opened #104 "1.7 group check only works for local users and groups"
Check 1.7 *Only allow trusted users to control Docker daemon"* in `tests/1_host_configuration.sh` only works for local users:

    docker_users=$(grep docker /etc/group)

This disregards users and their group membership coming from non-local sources, e.g. NIS, LDAP, AD.

[2015-12-06 01:47] thaJeztah opened #107 "Missing MAINTAINERS file"
I'm working on preparing the open source repositories for the new centralized maintainers file, but noticed this repository does not yet have a MAINTAINERS file.

I can create a PR to fix this, but I'm not sure who should be included as maintainer(s).

@konstruktoid @diogomonica are you the maintainers, of this project, or should I add other people here?

for reference, see docker/opensource#35 an

[2015-12-07 17:45] konstruktoid commented on #107
I guess me and @diogomonica are the mantainers, so it looks good to me.

[2015-12-07 17:50] #107 closed

[2015-12-07 18:02] #104 closed

[2015-12-07 19:00] #103 closed

[2015-12-12 05:06] gmanfunky opened #109 "Recently added use of systemctl to get systemd file path is not working on centos7"
related to this merge a couple weeks ago: https://github.com/docker/docker-bench-security/pull/102

Running the benchmark script inside a Centos7 container on the centos host returns a few of these in section 3:

```Failed to get D-Bus connection: No connection to service manager.```

It looks like the running benchmark container is missing access to some socket or another that systemctl wants.

B

[2015-12-12 14:07] konstruktoid commented on #109
Thanks for reporting this @gmanfunky and I'll have a check with the Centos container as well.
Can you post the result of `systemctl show -p FragmentPath docker-registry.service` and `systemctl show -p FragmentPath docker.service` on your Centos host and pref from inside a Centos container.

[2015-12-12 15:32] konstruktoid commented on #109
Please have a look at https://github.com/tutumcloud/tutum-centos/issues/6

[2015-12-12 16:10] konstruktoid commented on #109
Please have a look at https://github.com/docker/docker-bench-security/pull/110

[2015-12-14 03:05] gmanfunky commented on #109
https://github.com/docker/docker-bench-security/pull/110 runs fine for me and will address this issue but currently doesn't account for a case when systemctl doesn't work right inside a container and the host has a systemd override file in /etc/systemd/system.

[2015-12-22 18:17] #109 closed

[2016-01-25 20:01] schmunk42 opened #113 "How to run this against a swarm?"
Since the default commands provided are using host-volumes I asked myself, if there is any advice how to run this against a swarm or is docker-bench-security intended to run on every host of a swarm?

[2016-01-26 20:53] konstruktoid commented on #113
Hi @schmunk42, I'm not aware of any advice or anyone using docker-bench-security against a swarm, and the design of docker-bench-security has been focused on running it on a single docker host.

[2016-01-26 20:55] schmunk42 commented on #113
Thanks, I guess that's fine - was just curious.

[2016-01-26 20:55] #113 closed

[2016-02-16 21:28] willseward opened #117 "File permission problem on xfs"
Shouldn't this pass 3.26?
[code]

[2016-02-16 21:30] konstruktoid commented on #117
Hi @willseward, thanks for reporting this. I'll have a look.

[2016-02-16 22:31] konstruktoid commented on #117
It should pass 3.26 but the script didn't handle /var/run/docker.sock with an SELinux security context.
Please test and comment on https://github.com/docker/docker-bench-security/pull/118.

[2016-02-17 10:34] PasqualePuzio commented on #90
Hi,

I'm experiencing the same issue.

After running this command

"docker run -i --net host --pid host --cap-add audit_control -v /var/lib:/var/lib -v /var/run/docker.sock:/var/run/docker.sock -v /usr/lib/systemd:/usr/lib/systemd -v /etc:/etc --label docker_bench_security docker/docker-bench-security"

I get the following error message

Error connecting to docker daemon (does docker ps work?)

Ho

[2016-02-17 10:37] PasqualePuzio commented on #90
And here's the output of docker version

Client:
 Version:      1.9.1
 API version:  1.21
 Go version:   go1.4.2
 Git commit:   a34a1d5
 Built:        Fri Nov 20 12:59:02 UTC 2015
 OS/Arch:      linux/amd64

Server:
 Version:      1.9.1
 API version:  1.21
 Go version:   go1.4.2
 Git commit:   a34a1d5
 Built:        Fri Nov 20 12:59:02 UTC 2015
 OS/Arch:      linux/amd64

[2016-02-17 18:31] konstruktoid commented on #90
Hi @PasqualePuzio, I can't reproduce this running on Ubuntu. Could you please include some host details as well?

[code]

[2016-02-18 09:36] PasqualePuzio commented on #90
Hi @konstruktoid

here's the output of /proc/version

Linux version 2.6.32-5-amd64 (Debian 2.6.32-48squeeze14) (ben@decadent.org.uk) (gcc version 4.3.5 (Debian 4.3.5-4) ) #1 SMP Sat Sep 19 22:03:27 UTC 2015

FYI it's a VM on Amazon EC2

Thanks

[2016-02-18 18:29] konstruktoid commented on #90
Does running the script work?

[2016-02-19 10:39] PasqualePuzio commented on #90
Hi @konstruktoid,

yes, running the bash script works just fine. Any idea of what may be the cause of this issue?

Thanks

[2016-02-19 19:37] jianghaitao opened #119 "Conflict of tool and goal?"
We definitely need something like this tool to ensure Docker deployment is secure. However, it seems to me that we might have a conflict of the tool and goal here. The tool runs with lots of privileges, but a reasonably secured deployment of Docker daemon will prohibit that, e.g. host network.

For an example, when I turn on the user namespace in Docker 1.10, I can not run the tool as a container

[2016-02-19 19:42] dimtruck commented on #119
You can run the shell command directly on the host.  That's what we do.

(from README)

[code]

[2016-02-19 22:48] konstruktoid commented on #90
Hi again @PasqualePuzio, tested various scenarios and older clients can't connect to newer server versions.

Building the container with `ENV VERSION 1.9.0` or `ENV VERSION 1.9.1`, will hopefully make it work.
Could you try building a test container to verify this on your system as well?

Reopening the issue, the only question is how far back we should go.

[2016-02-20 00:08] jianghaitao commented on #119
Thanks for pointing that out :) README is mostly about running it as a container, I was wondering usefulness of that, i.e. conflict between tool and goal. Running as CLI is actually very straightforward and much easier than trying to figure out why your docker-bench-security can not be run.

[2016-02-23 16:06] PasqualePuzio commented on #90
Hi @konstruktoid,

where/how do I set that env variable? At which step of the build?

Thanks

[2016-02-23 20:19] konstruktoid commented on #90
You can't modify a ENV when building an image, sorry to say.
What I meant was that in order to fix this issue we need to change https://github.com/docker/docker-bench-security/blob/master/Dockerfile#L5 to an older version, but which version would be old enough?

[2016-02-24 08:32] PasqualePuzio commented on #90
Got it. Let me give it a try. I'll keep you posted.

[2016-02-24 09:37] PasqualePuzio commented on #90
Hi @konstruktoid

after more investigation, the trick (changing the ENV VERSION value) seems to work only with the default Dockerfile. If I try to use the same trick on the Debian Dockerfile in the distros folder, I get the error message anyway.

Does it depend on the base image ?

Thanks

[2016-02-24 20:35] konstruktoid commented on #90
The Debian dockerfile doesn't use an ENV to specify a version, instead it pulls Docker with ` curl -sSL https://get.docker.com/ | sh ` and thus get the latest stable version. The default Alpine Dockerfile uses ENV and curl (https://github.com/docker/docker-bench-security/blob/master/Dockerfile#L14-L15) to fetch the Docker binary.

[2016-02-26 10:42] PasqualePuzio commented on #90
Got it. Thank you for the clarification.

What now? Should those Dockerfiles be fixed somehow? ;-)

[2016-02-26 20:40] konstruktoid commented on #90
The problem is which (old version) to pick. 1.9.1 to cover Fedora 23 and openSuse? 1.6.2 to cover most Ubuntu versions? I believe RHEL includes 1.7.

Compare the following:
https://www.rpmfind.net/linux/rpm2html/search.php?query=docker&submit=Search+...&system=&arch=
https://packages.debian.org/search?searchon=names&keywords=docker.io
http://packages.ubuntu.com/search?keywords=docker.io&searchon=n

[2016-02-29 08:44] PasqualePuzio commented on #90
In my opinion, you should just enable the possibility to define the version to be used through the declaration of the VERSION env variable. Then it will be up to the user to set it according to its own local version of Docker

[2016-02-29 18:57] konstruktoid commented on #90
True, that would be great. The problem is that you can't define a ENV in the build process, which means we have to include multiple versions of the binary in the image, in order to use the variable with `docker run`.
And even if we could define a ENV in the build process, we would have to build the image with multiple versions, and if you would like to build the image locally I believe it's easier

[2016-02-29 19:14] PasqualePuzio commented on #90
Maybe I'm missong something, correct me if I'm wrong. Couldn't we just fix the distro-specific Dockerfiles in order to make them download and build docker the same way the default Dickerfile does? How difficult would this be? This way the user can choose the target docker version when building the image the same way he can do with the default Dockerfile, right? Thanks

[2016-02-29 20:40] konstruktoid commented on #90
The distro-specific Dockerfile that breaks the norm is the `Dockerfile.debian` which uses the `curl | sh` method, the other Dockerfiles uses the docker version available in the default distro repositories.

If I change the `Dockerfile.debian` to just install the `docker.io` from the default repositories, you'll get the latest Debian supported docker version. This will most likely fix your issue.

[2016-02-29 22:05] PasqualePuzio commented on #90
Makes completely sense. Most likely just fixing the Docker.debian Dockerfile will be enough to fix this issue (which is not only mine btw). Could you please do that?

If that works I don't see the point of having the ENV VERSION variant, as you said.

Thanks

[2016-03-01 20:39] konstruktoid commented on #90
Could you try the dockerfile in https://github.com/konstruktoid/docker-bench-security/blob/issue90/distros/Dockerfile.debian?

[2016-03-02 09:58] PasqualePuzio commented on #90
Hi @konstruktoid

I confirm that dockerfile in https://github.com/konstruktoid/docker-bench-security/blob/issue90/distros/Dockerfile.debian works.

Could you please explain why ? I can see that it doesn't download docker and it's based on debian stretch.

Thanks

[2016-03-02 21:02] konstruktoid commented on #90
Thanks for testing @PasqualePuzio, it does download Docker, it's called `docker.io` in Debian since docker is a _system tray for KDE3/GNOME2 docklet applications_ (https://packages.debian.org/stretch/docker). I use `stretch` because it's the most stable Debian release that actually include the Docker package.

[2016-03-03 08:38] PasqualePuzio commented on #90
Got it. Thank you very much. Would you mind to commit this Dockerfile ? Thanks

[2016-03-03 21:00] #90 closed

[2016-03-03 21:01] konstruktoid commented on #90
Merged.

[2016-03-10 16:32] LeoCBS opened #123 "Error connecting to docker daemon"
Hi, clone docker compose and trying to run, got this error:

[code]

[2016-03-10 17:25] joharohl commented on #123
I had the same issue, and for me the problem was that the docker engine on the host was out of date.
If you change line 30 of `docker-bench-security.sh` from `docker ps -q >/dev/null 2>&1` to `docker ps -q` to get a more specific error. Just remember to run `docker-compose build` before you run the run command again.

[2016-03-10 20:13] danbeaulieu opened #124 "Erroneously fails 2.2"
This is on docker 1.10.2

I have --icc enabled on my system

[code]

Unwrapping all of the bash calls:
[code]

Though somewhere along the way this line is failing: https://github.com/docker/docker-bench-security/blob/master/tests/2_docker_daemon_configuration.sh#L18

[2016-03-11 20:33] konstruktoid commented on #117
Closed by #118

[2016-03-11 20:33] #117 closed

[2016-03-11 20:36] konstruktoid commented on #123
Hi @LeoCBS, @joharohl is correct, there's most likely an issue with host-client mismatch.
Please see https://github.com/docker/docker-bench-security/issues/90#issuecomment-189475262 regarding this.

[2016-03-11 20:48] konstruktoid commented on #124
Hi @danbeaulieu and sorry for the late reply.
I can't reproduce this issue.

[code]

[2016-03-14 15:02] tsDaenor opened #126 "docker exec chek fails on containers without ps"
some containers that do not have ps give warning "Docker exec fails" because executable file not found in $PATH, yet it is possible to exec into the container.

[2016-03-15 15:32] danbeaulieu commented on #124
@konstruktoid I did some investigation. pgrep is finding the wrong docker process at this line: https://github.com/docker/docker-bench-security/blob/master/helper_lib.sh#L44

From inside of the container:
[code]

[2016-03-16 18:53] konstruktoid commented on #124
Thanks @danbeaulieu for finding it, could you please test #127?

[2016-03-16 19:01] konstruktoid commented on #126
Hi @tsDaenor and sorry for the late reply.
Yes, this is correct, the alternative would be parsing a list with known locations of, for example, sshd.

[2016-03-28 08:13] jantoniucci opened #128 "Disabling check execution by param"
Add a param to disable check execution, something like:

[code]

[2016-03-28 10:14] konstruktoid commented on #128
Thanks @jantoniucci, we're working extending the functionality but as a new tool which is a work in progress.

Possible duplicate of #51.

[2016-03-28 10:18] jantoniucci commented on #128
yes! that's right... I checked before but I couldn't find it. thanks!

[2016-03-28 10:40] konstruktoid commented on #128
@jantoniucci you're welcome:)

closing.

[2016-03-28 10:40] #128 closed

[2016-03-29 17:26] jwilmoth opened #129 "Erroneous [WARN] 5.3 - Verify that containers are running only a single main process"
Running the docker-bench-security.sh script produced a WARN entry for ensuring only one process is running inside the container.  Looking at the test for this check on https://benchmarks.cisecurity.org/tools2/docker/CIS_Docker_1.6_Benchmark_v1.0.0.pdf (docker exec $INSTANCE_ID ps -el) the output contains the ps process itself as well as the container's single process:

docker exec $INSTANCE_ID ps

[2016-03-29 19:35] konstruktoid commented on #129
Hi @jwilmoth, the line for counting the number of processes is https://github.com/docker/docker-bench-security/blob/master/tests/5_container_runtime.sh#L65 and https://github.com/docker/docker-bench-security/blob/master/tests/5_container_runtime.sh#L78 is just to verify that `ps` is actually working.

Could you attach a log and example of it not working?

[2016-03-29 20:31] jwilmoth commented on #129
Here's the relevant portion of the output from running docker-bench-security.sh after cloning the repo this morning.

[INFO] 5  - Container Runtime
[WARN] 5.1  - Verify AppArmor Profile, if applicable
[WARN]      * No AppArmorProfile Found: tiny_booth
[WARN] 5.2  - Verify SELinux security options, if applicable
[WARN]      * No SecurityOptions Found: tiny_booth
[WARN] 5.3  - Verify that containers

[2016-03-29 21:56] konstruktoid commented on #129
@jwilmoth thanks for catching this, we tried to grep -v the arguments as well.
could you test https://github.com/docker/docker-bench-security/pull/130?

[2016-03-30 18:35] jwilmoth commented on #129
I applied the same change locally and bingo!

**[PASS]** 5.3  - Verify that containers are running only a single main process

[2016-03-31 18:53] konstruktoid commented on #129
Awesome! I'll merge.
Thanks for testing.

[2016-03-31 18:53] #129 closed

[2016-04-15 21:21] shrikrishnaholla opened #138 "Sign docker hub image"
Docker Hub image for docker-bench-security is not signed, which causes some hilarity when you try to pull the image to run security audit when content trust is enabled and docker says the image is not trusted

[2016-04-17 18:58] konstruktoid commented on #138
Thanks @shrikrishnaholla for reporting this, an oversight from our part.
@diogomonica, I believe you have to do the signing part.

[2016-04-18 16:06] diogomonica commented on #138
Forgot to followup. We signed it on Friday.

@shrikrishnaholla docker-bench-security is actually not an official-image yet, that is why it wasn't signed. I'm trying to get it to be an official image soon, and then it will follow the standard process for signatures. Right now it's more of a one-off, and updates might be slower.

Thank you for the report!

[code]

[2016-04-18 16:06] #138 closed

[2016-05-13 07:14] chengweiv5 opened #145 "Can not wrong docker-bench-security on old docker daemon"
As I see to communicate with docker daemon, docker client API version has to older than docker engine.

However, the README says it can be run since docker daemon 1.6.2, I think this isn't correct since docker-bench-security installed docker 1.10 which client API version is 1.22, which far more newer than docker daemon 1.6.2(1.18).

Since docker-bench-security installed docker 1.10 that means it o

[2016-05-15 15:32] #145 closed

[2016-05-15 15:33] konstruktoid commented on #145
Hi @chengweiv5 and sorry for the late reply.
You're absolutely correct and I've updated the documentation.

[2016-05-18 07:50] ghostplant commented on #20
Hi, @konstruktoid.
I wonder whether services in docker containers are still possible to destroy the external host, if all these security benchmarks are all passed?

[2016-05-19 17:24] konstruktoid commented on #20
Hi @ghostplant, I'm not going to say it's _not_ possible to destroy (depending on what you mean by that) a host, but if all containers in use pass the benchmark (apparmor, priv drops, userns, TLS, read-only mounts) it will certainly be harder to do so.
But you still need to harden the underlying OS.

[2016-05-20 02:10] ghostplant commented on #20
Thanks!

[2016-05-22 16:28] katopz commented on #119
And if I want to run against Ubuntu14? `auditctl` is not there so I will need `distros/Dockerfile.debian` am I right? So I've to take DockerFIle approach also build image myself?

Would be nice if `sh` also work with `auditctl` addition there (or maybe I'm doing it wrong?).

[2016-05-23 18:58] konstruktoid commented on #119
Hi @katopz, yes that is correct. If you want the `auditctl` funtionality in a container you'll have to run a distro specific Dockerfile.

What do you mean with it would be nice if `sh` also worked with `auditctl`?

[2016-05-24 07:07] katopz commented on #119
Hi @konstruktoid , I expected something like [docker-bench-security.sh](https://github.com/docker/docker-bench-security/blob/master/docker-bench-security.sh) for Ubuntu may be it should name like `docker-bench-security-debian.sh` so I can use it like...
[code]
Would be nice, Thanks

[2016-05-24 10:47] alexei-led opened #149 "Mounting /etc to container /etc results in unexpected container failures"
I suggest to mount host `/etc` to `/host/etc` folder inside docker-bench-security container. Otherwise you overwrite container `/etc` folder.
This can cause different problems: for example in Alpine container you will see "xterm terminal not found" error, when running `clear` or `tput` command - as result of hiding default '/etc' folder.
This will require to update all checks that looks for files

[2016-05-24 10:51] alexei-led opened #150 "Replace auditctl with grep"
Some Linux distributions do not have `auditctl` installed. For example: Alpine Linux (your default Docker image). This results in multiple check failures.

I suggest to replace `auditctl` with `grep`. Or do it if `auditctl` is not installed, at least.
The following `grep` expression should work: search for audit on `$file`, skipping commented lines

[code]

[2016-05-24 16:53] konstruktoid commented on #119
The distro specific Dockerfiles is basically only useful if you're having host <-> container issues.
If you're using the standalone script and run it as you do in https://github.com/docker/docker-bench-security/issues/119#issuecomment-221184223, it should work regardless of the distribution.

[2016-05-24 16:56] konstruktoid commented on #149
Do you mean that the docker-bench script fails in anyway, following the README instructions, when we're using `/etc:/etc`?

[2016-05-24 17:01] konstruktoid commented on #150
Thank you for the suggestion @alexei-led, the issue is that we then get the configuration and not the what's currently audited, but I guess it's better that nothing at all.
I'll look into it.

[2016-06-16 16:47] moserke commented on #20
looking at fstab also does not work for coreos, as there is no fstab because volumes are mounted by systemd at boot time from units.  So this check always fails for us as well.  Perhaps using df instead of fstab?  df, get the dev for / and then the dev for /var/lib/docker, if the devs are different, then pass, if not, fail, or if /var/lib/docker is missing from df, fail.  This should cross most li

[2016-06-28 23:32] dhawal55 opened #152 "Docker Daemon Config tests on CoreOS when using early-docker"
I'm running Kubernetes on CoreOS and using early-docker to start flannel (network overlay for k8s) before starting docker.

The 'Docker Daemon Config' test searches for the oldest running docker process (https://github.com/docker/docker-bench-security/blob/master/helper_lib.sh#L44) and picks up early-docker instead of docker and ends up running config tests on it. Any reason why we look for oldest

[2016-06-29 18:42] dhawal55 commented on #152
I have a workaround for this by replace this [line](https://github.com/docker/docker-bench-security/blob/master/helper_lib.sh#L44) with:
`for PID in $(pgrep -x -o "$PROC")`
where $PROC = "docker daemon" instead of just docker

[2016-06-29 19:03] dhawal55 commented on #152
I have a fix for this by replace [line](https://github.com/docker/docker-bench-security/blob/master/helper_lib.sh#L44) with:
`for PID in $(pgrep -f -n "$PROC")`

where $PROC is "docker daemon" instead of "docker"

[2016-06-29 20:12] konstruktoid commented on #152
Hi @dhawal55, and thanks for reporting this and creating a PR, but it seems to be duplicate of #124 and #127.

[2016-06-29 20:40] dhawal55 commented on #152
Oh ya, thanks for pointing it out. I love that i ended up with the same solution as you did. Any reason why the fix is not merged yet?

[2016-06-29 20:43] konstruktoid commented on #152
Well, I didn't get any response (https://github.com/docker/docker-bench-security/issues/124#issuecomment-197487316) and it hasn't been brought up since.

I'll go with your https://github.com/docker/docker-bench-security/pull/153, since there isn't any conflicts.

[2016-06-29 20:55] #124 closed

[2016-06-29 20:57] konstruktoid commented on #152
#153 merged. Closing.
Thanks @dhawal55 for your contribution.

[2016-06-29 20:57] #152 closed

[2016-07-08 09:33] siddharthist opened #154 "Turn off colors when logging to a file"
I want to collect logs from many kinds of nodes, but when I look at the log files, they're filled with unreadable ANSI escape codes!
[code]

[2016-07-08 10:10] siddharthist opened #155 "Explanation of warnings"
When I run this script, I get several warnings that I don't quite understand, or that don't seem fully fleshed out. Many could just mention the docker daemon setting that they're talking about, like `--icc` for warning 1.10, or `--userns-remap` for 2.8.

Here are some examples of more ambiguous warnings (sorry for the ANSI escape codes):
[code]
Sorry if these are clear to everyone else :bulb:

[2016-07-12 21:59] konstruktoid commented on #155
Hi @siddharthist, so sorry for the late reply.
The tests are mapped against the CIS Docker 1.11.0 Benchmark, so for example test 1.10 is described on page 27 (1.10 Audit Docker files and directories - docker.service (Scored)). See https://benchmarks.cisecurity.org/tools2/docker/CIS_Docker_1.11.0_Benchmark_v1.0.0.pdf.

I hope that helps.

[2016-07-12 22:03] konstruktoid commented on #154
Hi again @siddharthist, I believe this is a duplicate of #85 and, if possible, use `more` instead of `less` to fix the log output.

[2016-07-13 07:46] siddharthist commented on #154
@konstruktoid Sorry, didn't see the other issue!

[2016-07-13 07:46] #154 closed

[2016-07-13 07:47] siddharthist commented on #155
@konstruktoid Sure does :) might help to have a link to that page somewhere in the README!

[2016-07-13 20:04] konstruktoid commented on #155
It's mentioned in the first section in the https://github.com/docker/docker-bench-security/blob/master/README.md.

[2016-07-14 07:32] siddharthist commented on #155
:facepalm: thanks @konstruktoid!

[2016-07-14 07:32] #155 closed

[2016-07-15 23:19] dongalex opened #156 "daemon options can only be extracted from command line"
Hi,

docker daemon holds an option --config-file and other options can be set inside the file. However, from your implementation, I can't see it supporting extracting options from the configuration file so it can only support extracting options set in command line.

Alex

[2016-07-18 21:27] dongalex commented on #156
Any update?

[2016-07-19 21:02] Illydth commented on #119
Given the OP's comments, I'm wondering about the viability of maintaining the containerized version of this tool myself.

For us, our method is to use Jenkins to pull the code from git (we heavily modify your base for our own docker installation methodology (different base directory, different socket file, etc.)), package it, push it to the docker server in question, run the command line tool, and

[2016-07-19 21:07] Illydth opened #157 "Proposal: Use Docker Config Files to Override Settings"
So one of the issues that's causing me to heavily modify the base code (which is easy enough since it's just a bunch of shell scripts) of this app is the fact that we've set our own standards for where to install and run Docker.

Initially, our docker filesystem runs out of /docker instead of /var/lib/docker and our socket file exists in the /docker area also.

All of these settings are stored in

[2016-07-20 07:09] konstruktoid commented on #157
Hi @Illydth and thanks for you proposal.
Using the configuration file is a viable solution, and I'm planning to go through all present issues when Docker 1.12 is released and the CIS-benchmark is updated.

[2016-07-20 07:10] konstruktoid commented on #156
Hi @dongalex, please see https://github.com/docker/docker-bench-security/issues/157#issuecomment-233861181

[2016-07-20 14:23] willfarrell opened #158 "/usr/lib/systemd error on OS X."
[code]
There is no `/usr/lib/systemd` on Mac. Is this volume mapping required? The test seem to run fine without it? Maybe the docs need to be updated to reflect this?

[2016-07-20 21:52] dongalex commented on #156
cool! thanks

[2016-07-21 17:26] Illydth opened #159 "Proposal: Update Check / Benchmark Numbers to Match CIS Document Sections"
As it is right now, the checks in Docker-Bench in many cases do not match up to the current (1.6) version of the CIS document.  This means that when reading a WARN from the tool, we can't match it up to the CIS document to determine what that warning got produced from or what the recommendation is.

It would be EXCEPTIONALLY helpful if, upon updating, we could re-set the check numbers to identical

[2016-07-21 17:43] Illydth commented on #20
Not to dig up an old post, but isn't a general check for the "-g" parameter on docker enough to determine if it's running on a location different from /var/lib/docker?

1) Check 'ps aux | grep "/usr/bin/docker"'' and look for a "-g" on the command line (which should be the switch force docker to use a different directory structure than /var/lib/docker)
2) "df" or parse /proc/mounts for the filesys

[2016-07-21 19:50] konstruktoid commented on #159
Hi @Illydth, the checks follows (or at least should) the latest release benchmark which currently is 1.11.0 https://benchmarks.cisecurity.org/tools2/docker/CIS_Docker_1.11.0_Benchmark_v1.0.0.pdf

[2016-07-21 19:50] #156 closed

[2016-07-21 20:02] konstruktoid commented on #158
Hi @willfarrell, how does PR #160 look?

[2016-07-21 20:04] willfarrell commented on #158
That should cover it. If not, there is this issue to catch any that didn't read the docs.

[2016-07-21 20:04] #158 closed

[2016-07-21 21:32] diogomonica opened #161 "Bump the version"
`# Docker Bench for Security v1.0.0`

We should have changed the version when we updated it to 1.11 :)

[2016-07-29 16:17] konstruktoid commented on #161
Indeed :+1:
I'll bump both version and latest stable Docker later today.

[2016-07-29 18:32] #161 closed

[2016-08-14 05:25] brettstover opened #164 "Docker content trust test (4.5) will always fail when using pre-built container."
The README.md suggests using the pre-built container for running the tests as so:

docker run -it --net host --pid host --cap-add audit_control --rm \
    -v /var/lib:/var/lib \
    -v /var/run/docker.sock:/var/run/docker.sock \
    -v /usr/lib/systemd:/usr/lib/systemd \
    -v /etc:/etc --label docker_bench_security \
    docker/docker-bench-security

When doing this, the test for docker content

[2016-09-21 20:42] kevinll opened #166 "Tests 2.2 Set the logging level"
From the Docker doc[1] there is more than `info` and `debug` log levels.
The current implementation[2] however doesn't seems to comply to the CIS benchmark[3] documentation, where CIS suggests to pass only if log-level is set to `info` OR non presence.

Current implementation for 2.2 is checking:
[code]

Is there a reason why the test is only checking if log level is set to `debug`, instead of CIS

[2016-09-25 00:42] MrSecure opened #167 "Test 2.6 is unreliable"
Test 2.6 uses `get_command_line_args docker` which returns info about the most recently launched process with "docker" in its name.  This is often NOT the docker daemon.

A better path would likely be to use `get_docker_cumulative_command_line_args` to ensure the analysis is done on the docker daemon process info.

[2016-09-25 00:49] MrSecure commented on #167
Merge request is in #168.   Closing.

[2016-09-25 00:49] #167 closed

[2016-09-26 07:36] konstruktoid commented on #166
Hi @kevinll and thanks for opening this issue, docker-bench-security has not however implemented all tests according to the 1.12 benchmark. The current version is based on the CIS Docker 1.11 Benchmark.

[2016-09-26 07:38] konstruktoid commented on #164
Hi @brettstover and sorry about the very late reply.
I believe that exporting the DOCKER_CONTENT_TRUST environment variable as you propose is an acceptable way to do it.

[2016-09-26 07:39] #159 closed

[2016-09-26 07:40] konstruktoid commented on #149
Inactive. Closing.

[2016-09-26 07:40] #149 closed

[2016-09-26 07:40] konstruktoid commented on #126
Inactive. Closing.

[2016-09-26 07:40] #126 closed

[2016-09-26 07:41] konstruktoid commented on #119
Inactive. Closing.

[2016-09-26 07:41] #119 closed

[2016-09-26 21:41] kevinll commented on #166
Thanks for replying @konstruktoid !
I did linked the 1.12 benchmark but looking back to CIS Docker 1.11, this specific test requirements did not change. It is asking to verify docker daemon is run with `--log-level="info"` flag. Is there a reason for the current implementation?

[2016-09-27 18:55] konstruktoid commented on #166
You're right @kevinll, https://github.com/docker/docker-bench-security/blob/master/tests/2_docker_daemon_configuration.sh#L17, is incorrect.
Thanks for finding and reporting it, feel free to submit a PR or leave this issue open and it will be fixed with the next update.

[2016-10-13 20:26] #166 closed

[2016-10-17 22:17] nicolaka opened #174 "update README to reflect currently support docker engine."
README is outdated pointing out that 1.11 is the latest currently supported engine.

[2016-10-19 07:48] raubreywhite opened #175 "After enabling user namespaces, docker-bench-security won't run"
As the title says. Everything was running perfectly until I enabled user namespaces. Now when I try to run the bench-security container I get the error:

docker: Error response from daemon: Cannot share the host's network namespace when user namespaces are enabled

[2016-10-19 08:06] raubreywhite commented on #175
Oh, I see the solution here:

https://github.com/docker/docker-bench-security/issues/119

[2016-10-19 08:06] #175 closed

[2016-10-19 19:14] konstruktoid commented on #174
Hi @nicolaka, which part of the README?
The only reference to 1.11 I see is "The tests are all automated, and are inspired by the CIS Docker 1.11  Benchmark." and this is still correct.

[2016-10-19 20:16] nicolaka commented on #174
@konstruktoid I see that CIS still doesn't support 1.12. So officially last engine supported is 1.11 ?

[2016-10-19 20:30] konstruktoid commented on #174
Not really, `docker-bench-security` is based on the CIS Benchmark for Docker 1.11 but can still be applied to Docker 1.12. There is a updated CIS document at https://benchmarks.cisecurity.org/tools2/docker/CIS_Docker_1.12.0_Benchmark_v1.0.0.pdf for 1.12, but this project hasn't been adapted to that version.
Planning on going through the next CIS release and update `docker-bench-security`.

[2016-11-28 16:32] fbiaustria opened #177 "Debian specific Dockerfile is not working on Jessie"
Last working commit, which works for me is the following:
https://raw.githubusercontent.com/docker/docker-bench-security/930f7ea676bc52a205ea41c72721d5e6a3d4b3ec/distros/Dockerfile.debian

I tried running the build process on Jessie, also with Jessie base image and jessie dependencies, but it won't work as far as I can see.

[2016-11-29 11:00] konstruktoid commented on #177
Hi @fbiaustria and thank you for reporting this. Could you please attach the build error and logs?

[2016-12-01 15:44] fbiaustria commented on #177
This is the stout of the build process, hopefully you can extract the information you need.

I guess the problem is that there is no binary of docker.io for debian stretch available:
"E: Package 'docker.io' has no installation candidate"

[docker-bench-security-build.txt](https://github.com/docker/docker-bench-security/files/625056/docker-bench-security-build.txt)

[2016-12-02 14:31] konstruktoid commented on #177
Seems Docker, both docker.io and docker-engine, has been removed from majority of Debian releases.

https://packages.debian.org/search?suite=default&section=all&arch=any&lang=en&searchon=names&keywords=docker
https://packages.debian.org/search?suite=default&section=all&arch=any&lang=en&searchon=names&keywords=docker.io

Will need to use `sid`.

[2016-12-02 14:59] #177 closed

[2017-01-10 21:23] pascalandy opened #183 "Why using alpine:3.2?"
Hi,

I love this project and I will soon checkout the output recommendations.

**Question**: Why are we not using [alpine:3.5](https://hub.docker.com/_/alpine/) ? IMHO we shall use the latest stable OS.

Cheers!
https://twitter.com/_pascalandy

[2017-01-11 08:33] konstruktoid commented on #183
Hi @pascalandy, and thanks for the reminder.
As `alpine:3.2` has an End of Support 2017-05-01 and is receiving security updates this hasn't been a priority, but since that date is closing in and it's one less thing to remember, I'll submit a PR.

[2017-01-11 08:34] #183 closed

[2017-01-15 04:38] kinghuang commented on #174
Is there any progress on updating `docker-bench-security` for the CIS Docker 1.12.0 Benchmark document? I find the combination of that document and the scripts in this repo really helpful. It'd be nice to get an update.

[2017-01-16 08:24] konstruktoid commented on #174
Hi @kinghuang, the script and documentation will be updated when 1.13 has been released.

[2017-01-20 10:37] konstruktoid commented on #38
Closing due to inactivity.

[2017-01-20 10:37] #38 closed

[2017-01-20 10:38] konstruktoid commented on #174
Updating to 1.12/1.13 has begun. Closing.

[2017-01-20 10:38] #174 closed

[2017-01-20 11:17] #164 closed

[2017-01-23 13:36] Geosex opened #197 "Error connecting to docker daemon (does docker ps work?) docker-bench-security"
Hi ,

I try to run

docker run -it --net host --pid host --cap-add audit_control \
    -e DOCKER_CONTENT_TRUST=$DOCKER_CONTENT_TRUST \
    -v /var/lib:/var/lib \
    -v /var/run/docker.sock:/var/run/docker.sock \
    -v /usr/lib/systemd:/usr/lib/systemd \
    -v /etc:/etc --label docker_bench_security \
    docker/docker-bench-security

but the output is

**Error connecting to docker daemon (does

[2017-01-23 13:58] konstruktoid commented on #197
Hi @Geosex, could you include the `docker version` from the host you're running the `docker/docker-bench-security` container on?
There is issues when different versions of Docker is trying to communicate with each other, do you get the same results when running the standalone script?

[2017-01-23 14:06] Geosex commented on #197
Hi @konstruktoid  ,

I run only standalone script

Docker version that issue occur is **1.11.1, build 5604cbe**

I try also in docker version 1.10.3, build 20f81dd and script run properly

[2017-01-23 14:08] konstruktoid commented on #197
Could you copy and paste all command lines?

[2017-01-23 14:13] Geosex commented on #197
Hi is this enough or anything else is needed??

docker version:

Client:
 Version:      1.11.1
 API version:  1.23
 Go version:   go1.5.4
 Git commit:   5604cbe
 Built:        Wed Apr 27 00:34:42 2016
 OS/Arch:      linux/amd64

Server:
 Version:      1.11.1
 API version:  1.23
 Go version:   go1.5.4
 Git commit:   5604cbe
 Built:        Wed Apr 27 00:34:42 2016
 OS/Arch:      linux/amd64

[2017-01-23 15:17] konstruktoid commented on #197
The output when you run `$ sudo sh docker-bench-security.sh`

[2017-01-24 06:49] Geosex commented on #197
Hello  @konstruktoid  the output is ok when run script in Version: 1.11.1 .

# sudo sh docker-bench-security.sh
# ------------------------------------------------------------------------------
# Docker Bench for Security v1.2.0
#
# Docker, Inc. (c) 2015-
#
# Checks for dozens of common best-practices around deploying Docker containers in production.
# Inspired by the CIS Docker 1.12 Benchmark.
# -

[2017-01-24 07:39] konstruktoid commented on #197
I still don't see any error message.
Is it possible for you to upgrade to a later release of Docker and see if the problem persists?

[2017-01-24 07:42] Geosex commented on #197
Hi the error is after running docker run command "Error connecting to docker daemon"

docker run -it --net host --pid host --cap-add audit_control     -e DOCKER_CONTENT_TRUST=$DOCKER_CONTENT_TRUST     -v /var/lib:/var/lib     -v /var/run/docker.sock:/var/run/docker.sock     -v /usr/lib/systemd:/usr/lib/systemd     -v /etc:/etc --label docker_bench_security     docker/docker-bench-security
**Error

[2017-01-24 15:03] konstruktoid commented on #123
Closing due to inactivity.

[2017-01-24 15:03] #123 closed

[2017-01-24 17:02] immae1 opened #207 "removed all capabilities and added not all "default" capabilities cause warning in test 5.3"
I have the following Docker-Compose file:
[code]
If i run the dockerbench testsuite i get the following warnings:

[code]

I think this behavior is wrong, because i run my containers with less capabilities than the default.

[2017-01-25 09:32] #150 closed

[2017-01-25 09:42] konstruktoid commented on #207
Hi @immae1 and I believe you're right, we should exclude the default list of capabilities.

[2017-01-25 11:11] #207 closed

[2017-01-25 11:52] immae1 commented on #207
Thank you @konstruktoid

[2017-01-26 14:06] immae1 opened #212 "Test 5.5 say my container have mounted /lib /etc ... from host but this is not true"
if i inspect my running web container i got this:
[code]
but if i run the benchtests i get the information that my containers have mounted sensitive dirs from host:
[code]
If i use the recommended audit command from CIS i got this error:
`Template parsing error: template: :1: unclosed action
`
if i run this "docker inspect --format '{{ .VolumesRW }}' "web_1" 2>/dev/null 1>&2;" command from the tes

[2017-01-26 23:12] kinghuang opened #213 "Daemon configuration tests do not consider options in daemon.json"
There are several tests, especially in the 2.x and 3.x sections, that are based on parsing the `docker daemon` or `dockerd` command line arguments via `get_docker_cumulative_command_line_args` and checking for certain options. However, this ignores the fact that [Docker daemon configurations can also be set in a file](https://docs.docker.com/engine/reference/commandline/dockerd/#/daemon-configurat

[2017-01-27 09:48] konstruktoid commented on #212
Hi again @immae1,
The `.VolumesRW` error is depending on the version you're using. I don't get `/proc` but `/lib` is a false positivt due to  `/var/lib/docker/volumes/`.

Could you paste your `docker inspect --format '{{ .VolumesRW }}' web_1` output?

[code]

[2017-01-30 08:33] konstruktoid commented on #213
Hi @kinghuang, and thank you for bringing this up. Support for handling a configuration file will be looked into now that 1.13 has been release, it's been on the back burner for a while now.

Also see issue #157

[2017-01-30 10:37] immae1 commented on #212
HI @konstruktoid,
sorry for the late response.
[code]

[2017-01-31 13:35] konstruktoid commented on #212
The `/lib` false positive is due to the fact `/var/lib/` is in there, but does the script warn about `/proc` when you're running `docker inspect --format '{{ .Mounts }}' app_web_1`?

[2017-02-01 10:01] immae1 commented on #212
The the skript does warn about:
[WARN]      * Sensitive directory /etc mounted in: app_web_1
[WARN]      * Sensitive directory /lib mounted in: app_web_1
[WARN]      * Sensitive directory /proc mounted in: app_web_1

if i run your command i got:
[code]

i think /proc and /etc is wrong - i don't see that are mountes in container.
I run this this project in a vagrant vm - maybe this is the problem?

[2017-02-01 15:46] willfarrell commented on #213
Using `jq` would make this easy to do.

2.2 example: `cat /etc/docker/daemon.json | jq -r '.["log-level"]'`

[2017-02-10 08:37] konstruktoid commented on #212
Sorry for the late reply @immae1, and yes the test should only check the first part of the path.

[2017-02-10 14:41] konstruktoid commented on #212
@immae1 could you try with https://github.com/docker/docker-bench-security/pull/216?

[2017-02-13 09:34] immae1 commented on #212
@konstruktoid
after i fetched your pull request i run the test:
[PASS] 5.5  - Do not mount sensitive host system directories on containers

but if i test to mount a sensitive volume with this:
$ docker run -d -P -v /:/etc/test ubuntu:trusty tail -f /dev/null
the test output is  [PASS] 5.5  - Do not mount sensitive host system directories on containers

i think there is bug in your pull request or

[2017-02-13 10:38] konstruktoid commented on #212
#216 updated

[2017-02-15 14:12] #212 closed

[2017-02-20 10:25] konstruktoid commented on #213
Please test #218. @Illydth @kinghuang

[2017-02-20 17:12] kinghuang commented on #213
@konstruktoid Just gave #218 a try! I repeatedly got `grep: : No such file or directory` in the output, and it did not pick up my settings in `daemon.json`. I don't think `get_docker_configuration_file_args()` is handling the case where `--config-file` isn't explicitly set, and the default value `/etc/docker/daemon.json` is being used.

[2017-02-21 10:51] konstruktoid commented on #213
Thanks for catching this, updated.

[2017-02-21 14:57] konstruktoid commented on #213
Stil an issue when there's not CLI options are used and no config file present.

[2017-02-23 14:58] willfarrell opened #221 "`2.21` Return `WARN` Should return `PASS`"
`docker version --format '{{ .Server.Experimental }}'` returns false, marked as `warn`.

This is the case on master and PR #218

[2017-02-23 16:08] #221 closed

[2017-02-23 16:08] konstruktoid commented on #221
Thanks again @willfarrell, believe it's fixed in `master` now.

[2017-02-24 10:28] #157 closed

[2017-02-24 10:28] #213 closed

[2017-02-24 10:45] ahmed-bacha opened #223 "Package the scripts or use tags for versionning"
Hello,

This benchmark is very useful when implementing CIS Docker v1.x. However, there is no tags or releases that enable to go back and forth on each CIS benchmark.

Could you add tags (for CIS 1.11, 1.12, 1.13) that correspond to each version please  ?

Regards,
Abdelkrim

[2017-02-24 11:25] jdel commented on #223
👍 Agreed. Also, I use this image as a base image, and therefore I have to rebuild it quite frequently.

It could be good to change the image mechanics. It could for example have an entrypoint that does a git pull on this repo every time it boots to get the latest test scripts. The tests scripts could be in subfolders named 1.11, 1.12, 1.13, and it would be possible to select which version of the C

[2017-02-24 12:15] andreasstieger opened #224 "# 2.17 netstat filtering issues"
Check 2.17 uses the following:
`netstat -lt | grep -e '\[::]:2377' -e '*:2377' -e '0.0.0.0:2377' >/dev/null 2>&1`

I see the following issues:

1. Port `2377` may be aliased in `/etc/services`, `netstat [...] -n` should be used
2. `-e '0.0.0.0:2337'` incorrectly matches `0a0a0a0:2337`
3. `:2337` incorrectly matches `:23770`...`:23779`
4. For `-e '\[::]:2377'`, this may also shown as `:::22`

[2017-02-24 12:24] konstruktoid commented on #223
The current tags aren't sufficient? https://github.com/docker/docker-bench-security/releases

[2017-02-24 12:26] #224 closed

[2017-02-24 12:30] konstruktoid commented on #197
So sorry for the delay @Geosex, I've honestly forgotten about this one. :/

The script has been modified quite a bit since January, could you try the updated version?

[2017-02-24 13:34] jdel commented on #223
I think @ahmed-bacha is talking about docker tags, that's my understanding.

[2017-02-24 14:22] ahmed-bacha commented on #223
I was talking about both and to have them at the same time, since its just about a build,

Thanks @konstruktoid @jdel

[2017-03-02 08:44] konstruktoid commented on #223
Thanks for the PR @ahmed-bacha, I'll have a look at it.

[2017-03-03 07:05] mroberty8 opened #229 "[ Questions ] - tested benchmark is 1.0.0 ? not 1.3.0 ?"
Hi, A little question about the last changes. It looks like when we run the container directly  that the tested benchmark is 1.0.0. Before the last commit during the running process the tested benchmark was 1.3.0.

Maybe a merge problem ?

Thx in advance.

![capture d ecran 2017-03-03 a 11 06 07](https://cloud.githubusercontent.com/assets/10769286/23541539/7d6cf2d4-0001-11e7-874a-be4f5bf760a7.png)

[2017-03-03 09:50] konstruktoid commented on #229
Hi @mroberty8, have you downloaded the image previously? If so, maybe an `pull` is in order.

[code]

[2017-03-03 10:23] mroberty8 commented on #229
Hi @konstruktoid, thx for the answer.

I have found the problem. To use the latest version i need to disable content trust.
Maybe something to do, to pull image properly with content trust enabled ?

Regards.

[2017-03-03 12:38] konstruktoid commented on #229
That's odd, below is my basic test and it seems to work fine.

[code]

[2017-03-03 12:39] konstruktoid commented on #229
And with content trust enabled, you get `Docker Bench for Security v1.0.0`.

[2017-03-03 17:31] kinghuang opened #230 "docker-bench-security.sh shows v1.3.0 for v1.3.1 tag"
**Description**

The `docker-bench-security.sh` script for the `v1.3.1` tag displays *Docker Bench for Security v1.3.0* in the output.

**Steps to reproduce the issue:**

1. Download the code for the [`v1.3.1` release](https://github.com/docker/docker-bench-security/releases/tag/v1.3.1).
2. Run `docker-bench-security.sh`.

**Describe the results you received:**

The second line of output is: `# Do

[2017-03-03 17:56] kinghuang opened #231 "Test 2.6 does not detect whether Docker daemon is listening on TCP when using daemon.json"
**Description**

Test 2.6—Configure TLS authentication for Docker daemon—has an incorrect check for whether the Docker daemon is listening on TCP.. The configuration file args implementation first checks for `tls`, then `tlskey`, and finally `tlsverify`. The command line args implementation checks for `-H`, then `--tlskey`, and finally `--tlsverify`.

This leads to the configuration file path to i

[2017-03-03 19:00] diogomonica commented on #229
@konstruktoid will do!

[2017-03-03 19:10] diogomonica commented on #229
Should be good now.

[2017-03-03 19:10] #229 closed

[2017-03-03 20:48] kinghuang opened #232 "Tests 3.9 to 3.14 are failing to find certificate files"
**Description**

Tests 3.9 to 3.14 are failing to find the certificate files they are checking for in my environment. They are reporting no certificate/key found, when the files actually exist.

**Steps to reproduce the issue:**

Given the following `daemon.json` configuratation and files:

[code]

[code]

1. Run `docker-bench-security.sh`.

**Describe the results you received:**

Tests 3.9 to 3.1

[2017-03-09 09:01] konstruktoid commented on #232
Hi @kinghuang, thanks for reporting this. I will look into it and update as soon as possible.

[2017-03-09 09:02] konstruktoid commented on #231
Hi @kinghuang, sorry for the late reply and thanks for reporting this. I will look into it and update as soon as possible.

[2017-03-09 09:04] konstruktoid commented on #230
Correct @kinghuang, a miss from my part.  I will update as soon as possible.

[2017-03-21 13:56] konstruktoid commented on #232
Please test https://github.com/docker/docker-bench-security/pull/234

[2017-03-21 13:56] konstruktoid commented on #231
Please test https://github.com/docker/docker-bench-security/pull/234

[2017-03-21 15:01] kinghuang commented on #231
@konstruktoid On #234, it's correctly reporting that the daemon is listening on TCP, but it's not detecting the use of TLS.

[code]

I have `tlsverify` set to true in my `daemon.json`, but I do not have `tls` defined. The [dockerd documentation](https://docs.docker.com/engine/reference/commandline/dockerd/) for `tls` says that it can be implied by `tlsverify`.

[2017-03-21 15:10] konstruktoid commented on #231
Thanks for the comment, will fix.

[2017-03-21 15:16] kinghuang commented on #232
@konstruktoid On #234, it's detecting the certificate files and their ownership correctly (3.9, 3.11, 3.13). But, it's failing on the permission checks (3.10, 3.12, 3.14).

[code]

[code]

[2017-03-21 15:18] konstruktoid commented on #231
https://github.com/docker/docker-bench-security/pull/234/commits/754e0ed02bc9b7175890e7d5a7f25b6bc162314d

[2017-03-21 15:26] kinghuang commented on #231
754e0ed looks good!

[code]

I also tried with `"tls": true` and `"tlsverify": false` to make sure it works for those conditions.

[2017-03-22 01:47] willfarrell opened #235 "Invalid Warnings [2.{1,13,14,18,21}]"
Most of the below relate to values set in /etc/docker/daemon.json.

Results below from using `docker run ... docker/docker-bench-security:latest`. I also ran the checks using `sh docker-bench-security.sh` and found that `2.14` and `2.21` Passed. Perhaps `latest` is out of date?

[code]

[2017-03-22 07:37] konstruktoid commented on #235
Thanks for reporting, will look into it as soon as possible.

[2017-03-22 14:24] konstruktoid commented on #232
Updated. https://github.com/docker/docker-bench-security/pull/234/commits/6105ff664188eb9e0880090bf99b73a24da3e917

[2017-03-22 14:46] konstruktoid commented on #235
Could you please test https://github.com/docker/docker-bench-security/pull/234?
I believe the issue has been resolved in that PR.

[2017-03-22 15:01] kinghuang commented on #232
6105ff6 works for my files!

[code]

[2017-03-22 15:29] willfarrell commented on #235
Confirmed, all resolved. Thank you!

[2017-03-22 15:29] #235 closed

[2017-03-23 08:53] konstruktoid commented on #232
And since it fixed #232 as well, I guess it's a merge after some additional testing.

[2017-03-23 10:11] #231 closed

[2017-03-23 10:11] #232 closed

[2017-03-23 10:38] konstruktoid commented on #230
Updated the version to 1.3.2 before release.

[2017-03-23 10:40] #230 closed

[2017-03-28 06:08] rhonnava opened #239 "Network hardening checks"
It would help if docker bench security checks for network stack hardening parameters for some basic attacks like SYN flooding, for parameters available per container:
 - If syn cookie protection is enabled in /proc/sys/net/ipv4/tcp_syncookies
 - Reducing the time for half opened connections in the backlog queue by limiting tcp_synack_retries
 - Increasing the backlog queue

Protection against IP S

[2017-03-28 09:47] konstruktoid commented on #239
Hi @rhonnava, I understand why you'd want this, but `docker-bench-security` is focused on following the CIS Docker Benchmark and not really server hardening in general.
I suggest you have a look at other CIS benchmarks (https://learn.cisecurity.org/benchmarks), DISA STIGs (http://iase.disa.mil/stigs/Pages/index.aspx) or OpenSCAP (https://github.com/OpenSCAP/scap-security-guide/).

[2017-03-28 09:47] #239 closed

[2017-03-28 20:07] anweiss opened #240 "Consider including Inspec resources?"
In addition to the current scripting mechanism by which Docker bench operates, it would be cool to consider the inclusion of InSpec (http://inspec.io/) resources that can also be used to validate Engine configurations per the CIS Benchmark.

[2017-03-29 07:43] konstruktoid commented on #240
Hi @anweiss, I'll have a look at InSpec. Thanks for bringing this to my attention.

[2017-03-29 13:00] anweiss commented on #240
As an FYI, we're also looking to incorporate the use of Inspec in our compliance guidance repo here -> https://github.com/docker/ddc-opencontrol/issues/20 ... so some solid overlap potential

[2017-03-29 13:34] konstruktoid commented on #240
The thing is that Docker bench then goes from a basic, portable POSIX, script to a tool that requires a new set of tools, knowledge about InSpec and might exclude a number of users.
Also see https://github.com/docker/docker-bench-security/pull/147

[2017-03-29 13:43] anweiss commented on #240
Agreed. So rather than replace the existing POSIX, Inspec could be a complement.

[2017-03-29 14:03] konstruktoid commented on #240
Separate project perhaps, a clean InSpec implementation of the CIS benchmark?
But as seen in #147 this might conflict with https://github.com/diogomonica/actuary @diogomonica

[2017-04-07 19:15] davidxia opened #241 "Incorrect warning for using experimental features"
I get the following warning when I run the container.

[code]

I'm not using experimental features though.

[code]

This is because the `docker` CLI version doesn't print the `Experimental` line at all.

[code]

This is because the CLI version is different than the server version.

[code]

Compare with running the `docker` CLI on the host directly.

[code]

[2017-04-11 13:46] konstruktoid commented on #241
Hi @davidxia and sorry for the late reply. The reason for this is that we're using the lastest `Docker` available in `Alpine Linux` (https://github.com/docker/docker-bench-security/blob/master/Dockerfile) which is 1.12.6.

[2017-04-14 16:57] anweiss commented on #240
Working on this here -> https://github.com/docker/compliance/tree/inspec/inspec/cis-docker-benchmark

[2017-04-21 11:53] #241 closed

[2017-04-24 18:41] anweiss commented on #240
Going to reference https://github.com/dev-sec/cis-docker-benchmark.

[2017-04-24 18:41] #240 closed

[2017-04-27 20:51] yongshin opened #244 "Blindly accepting all Docker Bench recommendations will result in an unusable Docker engine"
We can probably address this quickly via a Github readme update that warns that accepting all recommendations will result in an unusable Docker engine.

Is there a recommended profile that allows you to run 80% of applications successfully? Is there a concept of security profiles for Docker Content Trust?

[2017-04-28 07:35] konstruktoid commented on #244
Hi @yongshin, what do you mean this will result in a unusable Docker engine? Any particular setting you're having issues with?

[2017-06-15 10:50] dgonzalez opened #247 "Parseable friendly ouput"
Hi, I am wondering if it would be possible to produce a parser friendly output (like JSON) in order to automate the scanning of vulnerabilities with a bit of easiness instead of many regular expressions.

[2017-06-15 11:36] konstruktoid commented on #247
Hi @dgonzalez, and thanks for the input. I'll have a look at it, but can't promise a timeline.

[2017-06-15 12:23] dgonzalez commented on #247
I am totally swamped now but I can try to have a look since next week on.

[2017-07-14 05:30] mboelen opened #249 "URL in description redirects to GitHub"
The URL mentioned in the description here on GitHub, does a redirect to itself (https://dockerbench.com --> https://github.com/docker/docker-bench-security). Better to remove it from GitHub description if it does not serve a purpose for GitHub users?

[2017-07-14 07:19] konstruktoid commented on #249
True @mboelen, can't edit the description so I'll just poke @diogomonica about it.
:poke:

[2017-07-14 19:28] #249 closed

[2017-07-17 07:38] joesan opened #251 "Not Enough Documentation"
I was looking around for some security stuff on Docker and I came across this. At first it sounds promising, but I'm totally unsure as to how I could run this. From the very little documentation that exists (in the README.md), I understand that this is that I should run this container on the host where my docker containers are running. I have my containers running inside a Kubernetest cluster and

[2017-07-22 20:22] r4j4h commented on #251
I agree, the demo docs are very biased towards having some folders that aren't present on many systems, but it does have text asking the user to look through that. It could be more friendly with more examples, the cross distro folder link is a nice nod towards that.

To your Kubernetes question, it's a very good one! I'm not sure if there is information for this particular use case, so here's some

[2017-08-08 06:43] roshu10 opened #252 "Fix all issues with one click"
Hey guys,

From my understanding, This project is aimed to provide best practices that we can implement in our environment.

However, Is there any function which will implement all these best practices through script ?

Or do we manually have to implement this ?

[2017-08-09 00:28] JoelPagliuca commented on #252
Or maybe some guidance on remediation?

[2017-08-11 14:08] konstruktoid commented on #252
Hi @roshu10 and @JoelPagliuca, currently docker-bench-security only checks the current configuration of a Docker host based on the CIS Docker Benchmark.
Applying some sort of best practice is tricky since it's so dependent on the organization and use cases; Swarm? Content Trust? Read only file systems? and so on.

[2017-08-31 12:08] atolj commented on #251
Im standing for the same problem. I'm considering to execute the script on the nodes as describe by the following.

`git clone https://github.com/docker/docker-bench-security.git
cd docker-bench-security
sudo sh docker-bench-security.sh`

@r4j4h Is there a downside in using this approach?

[2017-08-31 14:30] lizrice commented on #247
We have a [similar tool for the Kubernetes benchmark](github.com/aquasecurity/kube-bench) which can output in JSON as well as human-readable format. The tests are defined in YAML files, and I don't think it would take much to have it run Docker benchmark tests instead. Does that sound interesting @dgonzalez @konstruktoid?

[2017-09-11 06:44] teo-scout24 opened #253 "Does docker bench security support Amazon Linux?"
Hi, is it feasible to use this tool for Amazon Linux?

There are some differences between Amazon vs CentOS/RHEL, is this going to be a problem?

Thanks.

[2017-09-11 07:48] konstruktoid commented on #253
Hi @teo-scout24, yes it should be feasible to use this on any Linux distribution as long as there's a standard Docker installation (`/var/run/docker.sock`, or `daemon.json`).
But please report any issues.

[2017-09-11 09:04] teo-scout24 commented on #253
Thanks

[2017-09-11 09:04] #253 closed

[2017-09-14 16:43] nicorevin opened #254 "[WARN] 4.1 - Ensure a user for the container has been created"
I am not sure if it is the right place to report the issue but the "[Ensure non-root user is running](https://github.com/docker/docker-bench-security/blob/5d8f34954f81717b571cb88661edb8bfa6a43ca9/tests/4_container_images.sh)" is a bit misleading.

There is a bunch of software that is executed as a root but it changes the context like:
[code]
There is no need to create a separate USER for dhcp insi

[2017-09-15 13:05] konstruktoid commented on #254
You're correct @nicorevin, the test checks if `USER` is used and not if any forked non-privileged child processes is present.

The issue is how we should check if a non-privileged process is present in a specific container.
And to be a bit more bureaucratic, `4.1 Ensure a user for the container has been created` uses `docker ps --quiet --all | xargs docker inspect --format '{{ .Config.User }}'` as

[2017-09-19 20:07] CapKenR opened #255 "Script error(s)"
See the date and sh errors below...

[code]

[2017-09-20 07:59] konstruktoid commented on #255
Thanks for reporting this @CapKenR, issue with busybox `date`. Will fix asap.

[2017-09-20 09:11] konstruktoid commented on #255
Please test https://github.com/docker/docker-bench-security/pull/256

[2017-10-02 10:01] sbutt opened #261 "Doesn't run with Windows hosts."
The company I'm working with have been using docker-bench-security and docker-bench-test on Linux with great results. We're now heavily migrating a bunch of Windows apps across to Docker and it would be really useful if this tool could be used on Windows also. I know a lot of the *host* recommendations would not make sense, or would need to be modified to fit Windows. Is this something that's bein

[2017-10-02 11:51] konstruktoid commented on #261
Hi @sbutt, there are no current plans to implement Windows host checks at the moment.
I do know however that there's discussions about adding Windows to the CIS benchmark in the future.

[2017-10-06 07:52] konstruktoid commented on #197
Closing due to inactivity.

[2017-10-06 07:52] #197 closed

[2017-10-06 07:53] konstruktoid commented on #244
Closing due to inactivity.

[2017-10-06 07:53] #244 closed

[2017-10-06 07:55] konstruktoid commented on #247
Sorry for the very, very late comment. Any progress on this?

[2017-10-06 07:56] konstruktoid commented on #252
Closing due to inactivity.

[2017-10-06 07:56] #252 closed

[2017-10-06 07:57] #254 closed

[2017-10-06 07:57] konstruktoid commented on #255
PR merged.

[2017-10-06 07:58] #255 closed

[2017-10-06 13:45] mrueg opened #262 "New release?"
Can you tag a new release for d-b-s?

Thanks!

[2017-10-06 14:01] konstruktoid commented on #262
Was writing the changelog when you added the issue:)
Here you go https://github.com/docker/docker-bench-security/releases/tag/v1.3.3.

[2017-10-06 20:23] mrueg commented on #262
Awesome! Thanks!

[2017-10-06 20:23] #262 closed

[2017-10-10 09:49] lizrice commented on #247
@konstruktoid will you be at DockerCon in Copenhagen? We could sync up about this there, if that suits.

[2017-10-10 10:09] konstruktoid commented on #247
I won't be able to make it to Copenhagen this year sorry to say @lizrice

[2017-10-10 10:12] dgonzalez commented on #247
What about an online meeting? we can have a call and articulate this. It is quite awkward to parse the output and it is not really human friendly as it is right now...

[2017-10-10 12:00] konstruktoid commented on #247
I've made some kind of example, it logs to `$logger.json`:
[code]

[2017-10-10 12:00] konstruktoid commented on #247
Not meant to close.

[2017-10-10 12:16] konstruktoid commented on #247
I'll add all check results later this week.

[2017-10-13 09:39] konstruktoid commented on #247
I believe all tests have been added, so please test #264

[2017-10-18 09:32] boeboe commented on #251
FYI,

This is the _daemonset_ configuration we use....

    apiVersion: extensions/v1beta1
    kind: DaemonSet
    metadata:
      name: docker-bench
      labels:
        name: docker-bench
    spec:
      updateStrategy:
        type: RollingUpdate
        rollingUpdate:
          maxUnavailable: 50%
      template:
        metadata:
          labels:
            name: docker-bench
        spec:

[2017-10-18 16:09] marrobi commented on #261
@sbutt can you drop me an email at Marcus.Robinson@microsoft.com, I've had a similar request come in to me internally. You might be the "source" of the internal request, but trying to gauge if its something we could/should look at as a project.

[2017-10-21 20:07] jamiejackson opened #265 "Where's the Score?"
I'm brand new to this project, but a skim of the [CIS Docker Benchmark PDF](https://benchmarks.cisecurity.org/tools2/docker/CIS_Docker_1.11.0_Benchmark_v1.0.0.pdf) mentions a "final benchmark score," therefore I'd assumed that with from this utility (in addition to other output) I'd end up with a score. However, I'm not spotting any score information in the output.

Is that unimplemented, or did I

[2017-10-23 07:04] konstruktoid commented on #265
Hi @jamiejackson, that has yet to be implemented. Will start working on it.
Thanks for the reminder.

[2017-10-23 07:38] konstruktoid commented on #247
Merged.

[2017-10-23 07:38] #247 closed

[2017-10-23 13:43] konstruktoid commented on #265
Please test #266

[2017-10-23 15:16] jamiejackson commented on #265
Although I'm not sure of the scoring metadata for CIS Docker Benchmark, I can confirm that I do get a check tally and a score (below).

Where's the CIS Docker Benchmark scoring reference, by the way? I assume that the lower the score, the better, but I don't know the weight of each check, etc. I didn't spot that information in the PDF, but I may have overlooked it.

[code]

[2017-10-24 07:13] konstruktoid commented on #265
That's basically the issue, the score is increased with a `pass` and decreased with a `warn`, and a higher score is most likely better. But there's no info stating that a 30+ score is good and if that is when including the Docker Swarm configuration.
I believe that it's just a reference point to be used internally.

[2017-11-07 08:43] karthik101 opened #267 "Disable Checks in scripts"
I'm actually like to disable/skip few checks, I can remove the checks manually from the scripts. Can you implement any option that i can pass the check number to the main docker_benchmarking.sh script?

A role based option that would allow certain checks to skip or enforce will be good.

Example:    ./docker_benchmarking.sh 5.11 4.10 ......

[2017-11-07 12:38] konstruktoid commented on #267
Hi @karthik101, yeah that has been in the planning stage, and forgotten about now and then, since #51.
I'll start working on it, but it will require some amount of rewriting.

[2017-11-08 12:42] karthik101 commented on #267
Thanks for the reply, will be looking froward to it, I'm working on the script to fix host, daemon WARN checks that will execute right after this.

[2017-11-21 16:21] harryw opened #270 "Usage in CI/CD image pipelines"
Hi there. I've been looking at this benchmarking tool as a way to verify that images meet these CIS recommendations as part of a CI/CD pipeline. In case there's any doubt what that means, we would build an image for a new version of an app, then we'd run these tests, and if the score was below some threshold or some critical tests failed, we'd treat that as a failure and not launch any containers

[2017-11-24 10:37] konstruktoid commented on #270
Hi @harryw, `docker-bench-security` is, as you said, primarily used as a way to test the current running configuration on a basic server with Docker setup. The reason for this is because is follows the CIS Benchmark and haven't really been adapted for anything else.

The checks in section 5 should require running containers; https://github.com/docker/docker-bench-security/blob/master/tests/5_conta

[2017-12-29 11:52] jantman opened #276 "Disable always-failing checks when running in Docker"
README tells us to:

[code]

I added a name to that command (--name docker-bench-security) just for clarity. Because a bunch of checks fail because of the container we're running. i.e., in part:

[code]

It seems like if the script is running in a container as README suggests, it should ignore its own container?

[2018-01-02 09:21] konstruktoid commented on #276
Hi @jantman, yeah that's correct the container named docker_bench_security should be ignored. I can't reproduce this behaviour, which versions of Docker and docker-bench-security are you using?

[code]
[code]

[2018-01-02 12:10] jantman commented on #276
@konstruktoid hmm, ok.

This is sort of strange, because now I'm intermittently seeing the container in the results (like I reported), and results that either are correct, or are reporting problems with a nameless container (which, by process of elimination, must be this one).

The script is v1.3.4. I'm running Docker 17.10.0-ce on Arch Linux.

[2018-01-02 14:31] konstruktoid commented on #276
Tried again with `--name docker-bench-security` but I still can't reproduce.

[code]
[code]
`Server Version: 17.12.0-ce`

[2018-01-02 14:32] jantman commented on #276
Weird. Ok. I guess I'll just assume this is some weird fluke of my environment and should be closed.

I can just run locally from git.

[2018-01-02 14:46] konstruktoid commented on #276
Ok. Closing.

[2018-01-02 14:46] #276 closed

[2018-01-08 03:22] CameronLonsdale commented on #267
This feature would be great :)

[2018-01-11 05:20] CameronLonsdale opened #277 "Bug - 5.21 Incorrect grep pattern"
I believe the grep pattern for check 5.21 is incorrect. Where it searches for `seccomp:unconfined`, it should be `seccomp=unconfined`.

With a container started with the `--security-opt seccomp=unconfined` option, In the latest version of docker, it appears that the command `$ docker inspect --format 'SecurityOpt={{.HostConfig.SecurityOpt }}' <container_id>` returns the option in the following for

[2018-01-11 15:41] kbabiochSUSE opened #278 "Replace invocation of netstat by ss"
`ss`  is a modern replacement to `netstat`. Most distributions are either going to switch or already have switched to `ss(8)` , making `netstat` (along with the `net-tools` package) obsolete.

[2018-01-12 09:59] #278 closed

[2018-01-12 10:22] konstruktoid commented on #277
Hi @CameronLonsdale and nice catch, it seems it depends on how you add the `seccomp` option:
[code]

[2018-01-12 10:38] #277 closed

[2018-01-12 10:52] #265 closed

[2018-01-12 11:41] konstruktoid commented on #223
Closing due to inactivity.

[2018-01-12 11:41] #223 closed

[2018-01-12 11:42] konstruktoid commented on #20
Closing due to inactivity.

[2018-01-12 11:42] #20 closed

[2018-01-16 12:57] konstruktoid commented on #267
Script updated with the `-c` option where you can specify a specific check or group of checks, see `functions_lib.sh`

[2018-01-16 12:58] konstruktoid commented on #270
Script updated with the `-c` option where you can specify a specific check or group of checks, see `functions_lib.sh`

[2018-01-16 14:03] harryw commented on #270
Oh that's great, thanks!

[2018-02-02 09:46] mendhak commented on #270
We're also interested in using this as part of a CI pipeline.  The `-c` option has been useful to filter it down to just a few tests.  I'd also be interested in isolating the image checks to just one specific image tag.  But I understand if that can appear detracting to the original intention of this repo.

@harryw can you share anything - I'm interested in how you've been filtering the output to

[2018-02-05 06:29] 1605200517 opened #286 "Running checks for a specific container or image"
Is it possible to scan only a given container, or image?

[2018-02-06 08:26] konstruktoid commented on #286
Hi @1605200517, no not at the moment.

[2018-02-08 16:29] nbrownuk opened #287 "Test 2.18 passes if 'no-new-privileges' is set or not"
The success or failure of test 2.18 is independent of the setting of the no-new-privileges configuration. The checks work as expected, if the function looks like this:

[code]

[2018-02-09 09:09] konstruktoid commented on #287
Thanks @nbrownuk, I'll have a look at it.

[2018-02-09 10:03] #287 closed

[2018-02-09 10:06] konstruktoid commented on #51
I believe this was solved with #283. Closing.

[2018-02-09 10:06] #51 closed

[2018-02-09 10:06] konstruktoid commented on #267
I believe this was solved with #283. Closing.

[2018-02-09 10:06] #267 closed

[2018-02-20 22:57] introllo opened #289 "Check 1.3 subtracts 0 when it passes"
https://github.com/docker/docker-bench-security/blob/master/tests/1_host_configuration.sh

# 1.3
...
  else
    pass "$check_1_3"
    info "     * Using $docker_version which is current"
    info "     * Check with your operating system vendor for support and security maintenance for Docker"
    logjson "1.3" "PASS"
    currentScore=$((currentScore - 0))
  fi
}

Why are we subtracting zero here? I

[2018-02-21 09:10] konstruktoid commented on #289
The question about substracting 0 is a good one since currentScore could be `currentScore=$currentscore`, but my simply logic was if you pass a scored you'll get +1, fail -1 and a not scored test -0 since "failure to comply with "Not Scored" recommendations will not decrease the final benchmark score. Compliance with "Not Scored" recommendations will not increase the
final benchmark score."

#290

[2018-03-28 07:00] sundeepk1 opened #294 "docker-security-scanning and relation to docker-bench-security"
Hi,

Can you please tell me how is ths related to docker-security-scanning feature

[2018-03-28 07:51] konstruktoid commented on #294
"Docker Security Scanning is available as an add-on to Docker hosted private repositories on both Docker Cloud and Docker Hub. The feature is available as a free preview for private repository subscribers for a limited time." https://docs.docker.com/docker-cloud/builds/image-scan/
`docker-bench-security` is a free CLI shell script for local usage.

[2018-03-28 08:19] sundeepk1 commented on #294
Thanks Thomas

Envoyé de mon iPhone

Le 28 mars 2018 à 13:21, Thomas Sjögren <notifications@github.com<mailto:notifications@github.com>> a écrit :

"Docker Security Scanning is available as an add-on to Docker hosted private repositories on both Docker Cloud and Docker Hub. The feature is available as a free preview for private repository subscribers for a limited time." https://docs.docker.com/do

[2018-03-28 09:14] #294 closed

[2018-04-29 18:45] nbrownuk opened #295 "Problem with check 2.6"
Running check 2.6, with TLS enabled, can give a warning that TLS is not enabled. It comes about when the TCP socket is defined in a Systemd override, but the TLS flags are defined in the daemon's config file. I think the check assumes everything is defined in either the unit file (or override), or the config file. Often, however, host definitions appear in the Systemd config, whilst the TLS config

[2018-04-30 10:07] konstruktoid commented on #295
Hi @nbrownuk and thanks for reporting this. I'll have a look at the proposed changes and run some test as soon as possible.

[2018-05-01 12:57] jammasterj89 opened #296 "Passing options into docker run"
I was wondering if it was possible to pass any of the options (-h, -l, -c, -x) into docker-bench-security.sh directly from the docker run command? I've tried overwriting with the --entrypoint flag but can't get this to work, I was wondering if it was even possible?

Thank you!

[2018-05-02 12:54] konstruktoid commented on #296
Thanks @jammasterj89 for taking the time reporting this, please update the repository and use the new Dockerfile.
Hope that helps.

[2018-05-03 09:12] jammasterj89 commented on #296
Thank you very much for the quick fix @konstruktoid! I've just tested it, and -l, -h and -c work fine, however I am not sure -x is working as it is not excluding any tests?

    docker run -it --net host --pid host --userns host --cap-add audit_control \
    -e DOCKER_CONTENT_TRUST=$DOCKER_CONTENT_TRUST \
    -v /var/lib:/var/lib \
    -v /var/run/docker.sock:/var/run/docker.sock \
    -v /usr/lib

[2018-05-03 13:41] konstruktoid commented on #296
`-x` is a comma delimited list of patterns within a **container name to exclude from check**, it excludes containers not tests.

[code]

[2018-05-03 15:15] jammasterj89 commented on #296
Sorry @konstruktoid, I've misread that! That would be a useful feature though. I'll close this task as you've fixed the original issue. Thanks again :)

[2018-05-03 15:15] #296 closed

[2018-05-09 21:56] listenerme opened #298 "Exclude certain checks"
How can I exclude a specific check? For example, I want to skip the check "check_5_16". Its not practical to put only the checks(with -c) needed to be executed as it may be large in numbers.  Is there any way?

The option "-x" is not clear and its saying to exclude patterns within the container. Could you please elaborate it?

Also will u be able bring an option to check the images of running cont

[2018-05-10 10:39] #289 closed

[2018-05-10 11:02] konstruktoid commented on #298
Hi @listenerme, there's currently no way to exclude a single check, planning too add this functionality though.

`-x` is a comma delimited list of patterns within a container name to exclude from check, it excludes containers not tests, see https://github.com/docker/docker-bench-security/issues/296#issuecomment-386299212.

If the image isn't used, it should be removed to limit image sprawl (check

[2018-05-10 18:32] zeddicus76 opened #302 "Rule 4.7 is unclear"
I'm not fully understanding rule 4.7 - "Ensure update instructions are not use alone in the Dockerfile"

First of all, `docker history --no-trunc` is probably a better solution there, otherwise there is a lot of the command being missed.

Second, is the intent to find when something like `apt-get update` is used on a line by itself?  What happens if yum is being used in the container? apt-get upda

[2018-05-11 08:06] konstruktoid commented on #302
Hi @zeddicus76, 4.7 is a simple, not scored, check to inform that previously cached layers might be used if an "update command" is used on a single line in the Dockerfile.
`docker history` is enough since we're just interested in a stand alone command on a single line.

https://github.com/docker/docker-bench-security/blob/master/tests/4_container_images.sh#L132
The test just checks for the word `u

[2018-05-11 13:48] listenerme commented on #298
That is fast, thank you so much. There is one problem. Excluding checks works fine(with -e) while not using -c option. Its not working as expected while using -c . For example
1) works fine with docker/docker-bench-security -e check_5_28
2) not excluding  while using docker/docker-bench-security -c cis -e check_5_28
3) not excluding while using docker/docker-bench-security -c container_runtime -e

[2018-05-11 13:58] listenerme commented on #298
One more issue, If I exclude a function like docker_swarm_configuration with -e(without using -c), it just skips check_7, performs all test including 7_1, 7_2 etc

eg: -e docker_swarm_configuration

It skips displaying "[INFO] 7 - Docker Swarm Configuration"

And gets the result of all others

[PASS] 7.1  - Ensure swarm mode is not Enabled, if not needed
[PASS] 7.2  - Ensure the minimum number of

[2018-05-11 16:16] listenerme opened #303 "Enhancement suggestion"
Few checks related to docker file permissions resulted in "file not found" error

[INFO] 1.8  - Ensure auditing is configured for Docker files and directories - docker.service
[INFO]      * File not found

[INFO] 3.7  - Ensure that registry certificate file ownership is set to root:root
[INFO]      * Directory not found

1) In first case, my docker.service file is found in path /lib/systemd/system

[2018-05-11 20:07] konstruktoid commented on #298
Yeah, I agree it was a bit simple addition, `-e` just excludes the checks from the list of CIS functions, not the function groups.

[2018-05-29 14:53] nbrownuk commented on #295
Hi @konstruktoid is there anything I can do to help move this issue along? Just let me know if I can help.

[2018-05-30 07:28] konstruktoid commented on #295
Hi again @nbrownuk and I'm so sorry for the way too long delay. Things stacked up and I completely forgot about this one.

[2018-06-19 17:54] zeddicus76 commented on #302
Doesn't this line mean that it is scored?

https://github.com/docker/docker-bench-security/blob/master/tests/4_container_images.sh#L147

[2018-06-19 20:18] al3x609 opened #307 "Can this script be executed in MacOS?"

[2018-06-20 12:19] justincormack commented on #307
Yes, you need to remove the `systemd` bind mount:

[code]

Not sure how useful this is, it will fail various tests that are not so relevant for a desktop install, but I did use it as a demo in my talk recently.

[2018-06-20 18:19] #307 closed

[2018-06-29 13:51] isuftin commented on #286
This would be such a great addition. This would allow us to perform checks during CI for only the 4 and 5 series of testing for a container we build during CI.

[2018-06-29 15:51] isuftin opened #309 "Rule 2.13 no longer valid for Docker v17.12 and on"
The --disable-legacy-registry flag is no longer supported by Docker since version v17.12 and on.

In order to meet rule 2.13, one would have to include this flag into the docker daemon options. However, Docker no longer starts once you do include that flag.

[code]

Perhaps check if the version of the daemon is v17.12 or later [here](https://github.com/docker/docker-bench-security/blob/master/test

[2018-07-01 18:08] konstruktoid commented on #302
You're absolutely correct @zeddicus76, my bad. This has been fixed in #310

[2018-07-01 18:56] konstruktoid commented on #309
Hi and thanks @isuftin, this should be fixed in #311

[2018-07-01 19:06] konstruktoid commented on #270
Ref #286

[2018-07-09 11:14] nareshkhatri81 commented on #261
Hello Team,

any update on this tool being leveraged for windows ?
are there any standards for prod for windows ?

Thanks,

[2018-07-09 15:22] khba opened #312 "Typo causing check 2.6 to fail even with TLS enabled"
Hello,

It seems like there is a tiny little typo on line 147 of file ./tests/docker-bench-security/tests/2_docker_daemon_configuration.sh :  instead of

if get_docker_cumulative_command_line_args '--tlskey' | grep 'tlskey=' >/dev/null 2>&1; then

I think we should have :

if get_docker_cumulative_command_line_args '--tlskey' | grep 'tlskey' >/dev/null 2>&1; then

ie without "=" because it makes t

[2018-07-12 22:47] introllo opened #315 "Question: support for Docker Swarm"
This is kind of a follow-on to https://github.com/docker/docker-bench-security/issues/113 (from 2.5 yrs ago). How much of Docker Bench is valid (now) for an active Docker Swarm?

With current best practices and Version 3 changes, there are several checks that can't be met in the current docker bench. Specifically "cpu_shares, cpu_quota, cpuset, mem_limit, memswap_limit, mem_swappiness" have been r

[2018-07-14 00:19] introllo commented on #315
I've gone with the conditional check. I want to be able to check 'standalone' containers and skip 'stack' containers. So, I've put in a test using docker inspect and if the container is in a stack namespace, the check is skipped. Onward.

[2018-07-14 00:19] #315 closed

[2018-07-18 21:28] introllo opened #316 "Incorrect scoring on check 5.29?"
Check 5.29 - Ensure Docker's default bridge docker0 is not used

Here, we're looking at whether a container is running on the docker0 network.  In the CIS benchmark, this is listed as "(Not Scored)".

In the check, there is this assertion:

[code]
shouldn't this be a "WARN" as the check has "failed" at this point?  Something like...

[code]

Or, if we want to adhere to the Benchmark and consider t

[2018-07-27 11:14] onpaws opened #318 "Running on Kubernetes"
I am trying to learn about Docker security inside a k8n environment by running this project in my cluster.
A previous [issue](https://github.com/docker/docker-bench-security/issues/251) led me to @boeboe's example [manifest YAML](https://github.com/docker/docker-bench-security/issues/251#issuecomment-337524376) but [no luck so far](https://github.com/boeboe/docker-bench-security-kubernetes/issues/

[2018-07-27 21:04] mwuerstl opened #319 "Check 5.28 (PIDs limit) no longer valid for docker compose v3?"
Under docker compose v3 there is no longer an option to set the pids_limit like there was in v2. Should this check be changed/removed or is there an alternate way to set a pids_limit for docker using compose v3? See https://github.com/docker/compose/issues/4792 for reference.
Thanks!

[2018-07-27 21:07] mwuerstl opened #320 "Check 5.1 - AppArmor not available on CentOS without kernel change."
Can check 5.1 be made optional for CentOS or is there an alternative to AppArmor protection that could be used?
Thanks!

[2018-07-29 15:18] onpaws commented on #318
@boeboe was kind enough to send manifests that I believe worked for him previously.
Unfortunately I am still blocked by the same error:
![image](https://user-images.githubusercontent.com/182515/43367817-5b274a80-9353-11e8-91c2-e9df81e0840e.png)

Any Kubernetes guys out there who could share some insight?

[2018-07-31 13:42] onpaws commented on #318
No traction on this.
I'm considering trying out this one now...
https://github.com/aquasecurity/kube-bench

[2018-08-01 15:56] hibbert opened #321 "Offer a no-color option"
Hi,

It would be good to offer a no-color option.

Thanks

[2018-08-06 07:35] konstruktoid commented on #320
Hi @mwuerstl, `docker-bench-security`isn't really focused on specific distribution and 5.1 will fail on systems without AppArmor, just att `5.2  - Ensure SELinux security options are set, if applicable` will fail on Ubuntu by default.
The difference is the wording and I'll report this to the Docker Benchmark upstream.

[2018-08-06 07:43] konstruktoid commented on #316
Hi @introllo, you're correct. Since this is a "not scored" test, `currentScore` shouldn't increase and it should be an `INFO`.
https://github.com/docker/docker-bench-security/blob/master/tests/5_container_runtime.sh#L1016-L1023 will be corrected.

[2018-08-07 08:44] konstruktoid commented on #319
Since you can set a pid limit when using the Docker client/server run command this is still a valid test.
https://docs.docker.com/compose/compose-file/compose-versioning/#version-3 contains info about cross-compatibility between Compose and the Docker Engine’s swarm mode.
Checking if the server is running in swarm mode is one thing but I don't believe there's a way to check if a container is start

[2018-08-08 09:58] #295 closed

[2018-08-08 11:29] makefu opened #323 "JSON output contains multiple fields with the same key"
Hi,

it seems that the json output you are writing contains a dictionary with the same key multiple times. When parsing the file with `jq` some comments get lost because of the key overlap:

[code]
becomes
[code]

For reporting it would be nice if either the key "4.6" is only used once and is a dictionary itself or if the line is a list instead of a single key:
[code]

[2018-08-08 11:40] konstruktoid commented on #323
Hi @makefu and thanks for reporting this, #314 and #306 both contains updates to the json output and I'll have a look at both those PRs as soon as possble and hopefully fix this issue thereafter.

[2018-08-08 12:11] makefu commented on #323
@konstruktoid that is great to hear! i only quickly checked in the issues for json output and forgot to check the Pull Requests.

Thanks for your efforts!

[2018-08-10 11:07] frederikbosch commented on #235
This is still the case for me. I am on Ubuntu 18.04, hardened system with [konstruktoid/hardening](https://github.com/konstruktoid/hardening)

[code]

[2018-08-21 09:46] konstruktoid commented on #235
Could you paste your `/etc/docker/daemon.json`?

[2018-08-21 11:57] frederikbosch commented on #235
Of course.

`/etc/docker/daemon.json`
[code]
`docker info`
[code]

[2018-08-23 08:57] konstruktoid commented on #235
I can't reproduce this issue, and based on you `docker-bech-security` results you're using a old version of the script.

[code]

[2018-08-23 09:42] frederikbosch commented on #235
I am using this command.

[code]

That leads to the use to of this image.
[code]

So yes, you are right. What is the cause that am I served with an older version?.

[code]

Docker Hub tells [there are indeed newer versions](https://hub.docker.com/r/docker/docker-bench-security/builds/).

[2018-08-23 09:50] frederikbosch commented on #235
I found it out. The latest images are not signed with content trust.

[code]

leads to
[code]

Then the invalid warnings change to PASS.

But why is the `docker/docker-bench-security` images not signed? Maybe this should move to another issue, or there is already one open for this.

[2018-08-23 10:18] konstruktoid commented on #235
The releases are signed, and the releases were in sync with the CIS Docker benchmark, but this has drifted more and more away from each other in terms of release dates.

Will push a new release after some testing.

Related https://github.com/docker/docker-bench-security/issues/229

[2018-09-13 14:37] SoftBanX opened #324 "+ req_progs=awk docker grep ss stat + command -v awk + command -v docker + command -v grep + command -v ss + printf %s command not found.\n ss ss command not found. + exit 1"
+ req_progs=awk docker grep ss stat
+ command -v awk
+ command -v docker
+ command -v grep
+ command -v ss
+ printf %s command not found.\n ss
ss command not found.
+ exit 1

$ uname -a
Linux node1 4.4.0-96-generic #119-Ubuntu SMP Tue Sep 12 14:59:54 UTC 2017 x86_64 Linux

from Docker playground

[2018-09-18 08:51] konstruktoid commented on #324
Hi @SoftBanX and sorry for the late reply.
From which Dockerfile did you build this?

[2018-09-18 14:10] konstruktoid commented on #324
I'm sorry @SoftBanX, I'm not aware of any docker playground, could you please share a link?

[2018-09-26 18:16] introllo opened #325 "Check 3.18 misses valid "more restrictive" permissions"
Current code for 3.18 looks for 644 or 600 but misses 640.

Possible resolution on line 494...

From:
    if [ "$(stat -c %a $file)" -eq 644 -o "$(stat -c %a $file)" -eq 600 ]; then
To:
    if [ "$(stat -c %a $file)" -eq 644 -o "$(stat -c %a $file)" -eq 640 -o "$(stat -c %a $file)" -eq 600 ]; then

[2018-09-27 07:51] konstruktoid commented on #325
Thanks @introllo, I've added the check to 3.18 in https://github.com/docker/docker-bench-security/pull/326.

[2018-10-12 10:30] konstruktoid commented on #303
Closing due to inactivity.

[2018-10-12 10:30] #303 closed

[2018-10-12 10:31] #325 closed

[2018-10-12 10:32] konstruktoid commented on #323
Closing since #314 has been merged.

[2018-10-12 10:32] #323 closed

[2018-10-12 10:36] konstruktoid commented on #320
The wording was updated in the CIS Benchmark on Aug 6, https://workbench.cisecurity.org/sections/36994/recommendations/103470/diff/201808060400.

[2018-10-12 10:36] #320 closed

[2018-10-12 10:37] konstruktoid commented on #318
Closing due to inactivity.

[2018-10-12 10:37] #318 closed

[2018-10-12 10:39] konstruktoid commented on #316
Closing since #322 has been merged.

[2018-10-12 10:39] #316 closed

[2018-10-12 10:39] konstruktoid commented on #312
Closing since #313 has been merged.

[2018-10-12 10:39] #312 closed

[2018-10-12 10:40] konstruktoid commented on #309
Closed since #311 has been merged.

[2018-10-12 10:40] #309 closed

[2018-10-12 10:42] konstruktoid commented on #261
Long time no see @nareshkhatri81, but there hasn't been any updates regarding Windows hosts and the CIS Docker benchmark.

[2018-10-12 13:54] isuftin commented on #309
Thank you 👍

[2018-10-14 23:47] jamesrgregg commented on #286
I was looking at this same problem a while ago and figured out how to isolate the scan using the filter options.  I'm testing using minikube so I needed to exclude the K8s containers.

I'm trying to figure out the same CI/CD problem everyone else is asking about in [Issue #270](https://github.com/docker/docker-bench-security/issues/270)
My specific use case was to identify containers running as ro

[2018-10-17 15:53] mbode opened #329 "Release images with version tags"
Currently https://hub.docker.com/r/docker/docker-bench-security/ only has a _latest_ tag. We use this image and ec7d8ce690bbd38b709b679d85857351c328db09 broke how we assert whether checks we want to succeed indeed do. Of course it was not hard to fix, but still it would be nice to be able to reference a specific version tag on docker hub.

[2018-10-22 23:47] shawnjefferson opened #330 "Regex syntax error in check exclusion"
There's a syntax error in the check exclusion.  Trying to exclude 5.1 excludes 5.1, 5.10, 5.11, etc...

Adding a $ in line 126 of docker-bench-security.sh fixes it (quick testing):
 checkexcluded="$(echo "$checkexclude" | sed 's/,/$|/g')"

[2018-10-23 10:19] konstruktoid commented on #330
Thanks @shawnjefferson, he documentation was a bit unclear. Try `-e check_5_1`.
I've updated the README to clarify this.

[2018-10-23 12:52] RahulMetangale opened #332 ""Ensure a separate partition for containers has been created" is logged although separate is created."
I am using ubuntu 16.04 with docker version
Docker version 18.06.1-ce, build e68fc7a

I have created a separate partition for docker still security check warns about 1.1.

Here is the output of docker info command
Containers: 0
 Running: 0
 Paused: 0
 Stopped: 0
Images: 0
Server Version: 18.06.1-ce
Storage Driver: overlay2
 Backing Filesystem: extfs
 Supports d_type: true
 Native Overlay Diff: fal

[2018-10-23 13:15] konstruktoid commented on #332
Hi @RahulMetangale, you're correct.
We only check for `/var/lib/docker`, https://github.com/docker/docker-bench-security/blob/master/tests/1_host_configuration.sh#L21-L28.
I'll make it more dynamic.

[2018-10-23 13:30] konstruktoid commented on #332
I believe this has been fixed, could you test https://github.com/docker/docker-bench-security/pull/333?

[2018-10-23 14:48] upils opened #334 "Log command outputs in a file"
Command outputs are only used to check values and are not logged.
A logging option to keep and review results would be great.

[2018-10-23 15:52] RahulMetangale commented on #332
@konstruktoid  Thank you for your quick response. I checked out pull request 333. still seeing the same issue.

[2018-10-23 20:04] shawnjefferson commented on #330
I believe this will still fail with the existing regex.  check_5_1 will match both check_5_1 and check_5_10, check_5_11, etc... won't it?  With my solution, which I think works, you can use both ways of exclusions: 5.1, 5.10, 5.11, or check_5_1, check_5_10, check_5_11

[2018-10-24 06:37] konstruktoid commented on #332
@RahulMetangale, could you post the output of `mountpoint -- "$(sudo docker info -f '{{ .DockerRootDir }}')"` and `grep "$(sudo docker info -f '{{ .DockerRootDir }}')" /proc/mounts`.

[2018-10-24 06:57] konstruktoid commented on #330
You're absolutely correct, my bad.

` -e check_5_1$` works, but `checkexcluded="$(echo "$checkexclude" | sed 's/,/$|/g')"` doesn't.

[2018-10-24 08:04] konstruktoid commented on #330
Updated with https://github.com/docker/docker-bench-security/pull/335

[2018-10-25 04:44] RahulMetangale commented on #332
@konstruktoid here is the output
` mountpoint -- "$(sudo docker info -f '{{ .DockerRootDir }}')"`
/datadrive/docker is not a mountpoint

`grep "$(sudo docker info -f '{{ .DockerRootDir }}')" /proc/mounts`
overlay /datadrive/docker/overlay2/e1420d39ecc2c1977b3af3fc196c2f4d80e1a3f5a23601bwrere391884d00668f/merged overlay rw,relatime,lowerdir=/datadrive/docker/overlay2/l/ASN2T4SXPT4HEYUIR2DQ5KXWQS:/d

[2018-10-25 06:19] konstruktoid commented on #332
`/datadrive/docker is not a mountpoint` and since it doesn't show up in `/proc/mounts` as a separate partition, it seems it's just a directory.

[2018-10-25 06:53] konstruktoid commented on #270
#328 has been merged.

[2018-10-25 06:54] konstruktoid commented on #286
#328 has been merged.

[2018-10-25 06:54] konstruktoid commented on #298
Closing due to inactivity.

[2018-10-25 06:54] #298 closed

[2018-10-25 06:55] konstruktoid commented on #324
Closing due to inactivity.

[2018-10-25 06:55] #324 closed

[2018-10-25 06:55] konstruktoid commented on #330
#335 has been merged.

[2018-10-25 09:43] konstruktoid commented on #321
It's been a while @hibbert, but now there's `-b           optional  Do not print colors`

[2018-10-25 13:18] upils commented on #334
Thanks for answering @konstruktoid

I meant the output of commands used to check, like getting effective command line to launch the daemon or user executing container.
Many checks execute a docker command, grep wanted result and then throw the output in /dev/null. Sending this output to a file or even in the stdout could be very useful.

[2018-11-08 22:21] boblington opened #340 "-e does not print out check_1, check_2 and etc"
How to reproduce:
`sudo sh docker-bench-security.sh -e check_1_1,check_1_2`

The output is missing lines such as:
[code]

The output json is also malformed where the tests are no longer properly nested in their respective categories...
EXPECTED JSON:
[code]

RECEIVED JSON:
[code]

[2018-11-08 22:24] boblington opened #341 "-e last entry is ignored when running in docker"
How to reproduce:
[code]

Expected output still has check_1_2 in it.

[2018-11-08 22:26] boblington opened #342 "-e totalChecks and currentScore always prints out 0"
How to reproduce:
`sudo sh docker-bench-security.sh -e foobar`

The final totalChecks and currentScore always print 0

[2018-11-09 15:10] dipanjanmukherjee83 opened #344 "Test result 7.4 does not showing."
When ever we run the bench-security it does not showing the result for 7.4 which is for
"Ensure data exchanged between containers are encrypted on different nodes on the overlay network".
Also the 7.1 should be INFO instead of WARN as swarm is required in our environment so how do we fix it from WARN to PASS or should we ignore it ?

[INFO] 7 - Docker Swarm Configuration
[WARN] 7.1  - Ensure swarm

[2018-11-09 16:48] boblington commented on #344
if you don't need 7.1, I recommend  ignoring it with -e option ie:
`sudo sh docker-bench-security.sh -e check_7_1`
I also submitted a PR that fixes missing 7.4 issue.

[2018-11-12 08:58] #344 closed

[2018-11-12 14:18] #340 closed

[2018-11-12 14:19] #341 closed, assigned to nobody

[2018-11-12 14:19] #342 closed

[2018-11-12 14:37] dipanjanmukherjee83 commented on #344
Thanks it is solved now.

[2018-11-14 19:50] telepresencebot2 opened #346 ".json output of test 7.4 is broken"
test id 7.4 does not build it's json correctly, instead of generating a list of offending networks, it generates a string of partial json for each one and sticks them together, breaking the json file.

instead of:
`{"id": "7.4", "desc": "Ensure data exchanged between containers are encrypted on different nodes on the overlay network", "result": "WARN", "details": "Unencrypted overlay networks: {li

[2018-11-14 19:58] telepresencebot2 commented on #346
[code]

[2018-11-14 19:59] telepresencebot2 commented on #346
`resulttestjson "WARN" "Unencrypted overlay network: $(docker network inspect --format '{{ .Name }} ({{ .Scope }})' "$encnet")"` is in a loop.

[2018-11-14 20:32] telepresencebot2 commented on #346
Fixed by PR https://github.com/docker/docker-bench-security/pull/347

[2018-11-15 07:56] #346 closed

[2018-11-22 07:31] yikaus commented on #286
#328 break the fix for #69 ,details see

https://github.com/docker/docker-bench-security/pull/328/files

[2018-11-22 11:14] konstruktoid commented on #286
Hi @yikaus, how does this break the behavior? It has been replaced with https://github.com/docker/docker-bench-security/blob/master/docker-bench-security.sh#L112
`containers=$(docker ps | sed '1d' | awk '{print $NF}' | grep -v "$benchcont")`

[2018-11-22 22:10] yikaus commented on #286
Hi @konstruktoid

$benchcont is depend on $containers ,the change make value of $benchcont forever nil ,thus it won’t filter out the scanner itself. I made comments on pull request #328.

You should able to test it by running test locally and scanner instance will always shows in test result

Kevin

[2018-11-23 08:41] konstruktoid opened #348 "Automate testing"
The testing is, more or less, a manual operation today.
This consequence of lack of testing are inconsistent output, and more than once have simple code changes caused incorrect results.
Verification of tests have also been forgotten.

https://github.com/docker/docker-bench-security/pull/343
https://github.com/docker/docker-bench-security/pull/345
https://github.com/docker/docker-bench-security/pu

[2018-11-23 09:52] konstruktoid commented on #286
You were absolutely correct @yikaus. Thanks for reporting this and I'm sorry for the lack of testing regarding this.

Should be fixed now.

[2018-12-03 08:30] CaosFR opened #350 "Run again a distant host in my local network ? & [SOLVED] little problem"
Hi,

Simple question, may it's possible to run docker-bench-security again a distant host ?
I have a local network and I would like to test the security of docker on distant computer.

In a other hand I have a little problem if I run "docker-compose run --rm docker-bench-security" in the directory of docker-bench-security it's run perfecly.
But if I run "$ docker run -it --net host --pid host --us

[2018-12-11 11:11] anthony-roger opened #351 "Add target option to run checks for specifics images"
#270
#286

[2018-12-13 17:08] soulawaker commented on #332
In my case, I made a new partition, mount it, copied /var/lib/docker to it, umount it, removed /var/lib/docker and mount the new partition `/var/lib/docker`. Now `/var/lib/docker` is checked a mount point with `mountpoint` command but it is not with docker-bench-security.

[2018-12-14 10:04] m4d3bug commented on #319
Is there any other way to do the same?

[2018-12-14 11:49] konstruktoid commented on #332
Hi @soulawaker, could you post the output of `mountpoint -- "$(sudo docker info -f '{{ .DockerRootDir }}')"` and `grep "$(sudo docker info -f '{{ .DockerRootDir }}')" /proc/mounts` as well?

[2018-12-14 11:57] konstruktoid commented on #319
Setting a pid limit using compose? That option has not been introduced in version 3 (https://docs.docker.com/compose/compose-file/compose-versioning/#upgrading) @m4d3bug

[2018-12-17 00:15] soulawaker commented on #332
Ah, yes. I post them.
[code]

[2018-12-19 08:20] konstruktoid commented on #332
@soulawaker partially, but this is just as a spamming app will fill `/var` when it writes to `/var/log` if `/var/log` is a directory (as `/var/lib/docker/231072.231072` is a directory under `/var/lib/docker/`).
If `/var/lib/docker/231072.231072` satisfies your needs, then ignore the result of the test.
Its primary purpose is to make sure there's a partition so mad containers don't fill `/`.

[2019-01-10 12:48] CaosFR commented on #350
Hi,

Ty for your reponse, I will try on linux hosts so.

[2019-01-10 15:58] nithinka commented on #332
Hello @konstruktoid ,
I too have a similar issue
Here is my output

ubuntu@ip-10-10-1-244:~$ docker info -f '{{ .DockerRootDir }}'
/docker-data

ubuntu@ip-10-10-1-244:~$ grep /docker-data /proc/mounts
/dev/xvdb1 /docker-data ext4 rw,relatime,data=ordered 0 0
overlay /docker-data/overlay2/98529b1145be2d655044aa6b239147def85fe3c17aa60917d7131c4dabb90653/merged overlay rw,relatime,lowerdir=/docker-da

[2019-01-11 08:17] konstruktoid commented on #332
Thanks @nithinka, I'll have a look.

[2019-01-22 11:53] jondkent opened #354 "Validation for ss and stat command not required"
Hi,

The script docker-bench-security.sh has the following line:

req_progs='awk docker grep ss stat'

However 'ss' and 'stat' are not called within the script and I think these can be safely removed

Thanks,
Jon

[2019-01-22 12:32] konstruktoid commented on #354
Hi @jondkent,
`ss` is used at https://github.com/docker/docker-bench-security/blob/master/tests/7_docker_swarm_configuration.sh#L66 and `stat` is used multiple times in https://github.com/docker/docker-bench-security/blob/master/tests/3_docker_daemon_configuration_files.sh.

[2019-01-22 13:06] jondkent commented on #354
Ah, apols, did not see that

[2019-01-22 13:06] #354 closed

[2019-01-22 13:16] konstruktoid commented on #354
No worries, have a great day 😄

[2019-01-23 12:22] webchi opened #355 "Version 3 restart policy"
In version 3 compose has another restart configuration
[code]
And this configuration doesn't make changes in `docker inspect`:
[code]
So **5.14** test is failed =\

[2019-01-23 12:59] konstruktoid commented on #355
Hi @webchi, this seems related to #319 and we can't check if a container is started with docker-compose and its options :/

[2019-01-24 15:31] okidor opened #356 "Result inconsistency"
On failure, check 4.9 outputs "INFO" in normal log and "WARN" in json log.

[2019-01-24 15:48] konstruktoid commented on #356
Thanks @okidor for reporting this, I believe that's fixed now.

[2019-01-24 16:45] okidor commented on #356
I tested, and it is now consistent.

Have a nice day :)

[2019-01-24 16:45] #356 closed

[2019-02-04 09:06] CaosFR commented on #350
Hi again

I come back after a while for this question of run "Docker Bench For Security" again a distant host.
I can connect and use "Docker Bench For Security" from a distant host but I did not succeed to run "Docker Bench For Security" again a distant host.

For example, I have create a local network with 2 PC :
- "Docker Bench For Security"  are install on a Debian PC "host.A" with ip "192.168.

[2019-02-04 09:20] konstruktoid commented on #350
Hi @CaosFR, if you're using the shellcode and not the Docker image, you'll first have to download the code and then run it as you normally would.

`ssh host.B 'git clone https://github.com/docker/docker-bench-security.git'`
`ssh host.B 'cd docker-bench-security ; sudo sh ./docker-bench-security.sh'`

If you're using the Docker image you'll need to connect to the remote Docker daemon and run the co

[2019-02-04 12:22] CaosFR commented on #350
Hi @konstruktoid  and thanks for your quickly reponse.

I had already authorise the remote Docker deamon and strat "Docker Bench for Secrurity" like that. But, when I did that, "Docker Bench for Security" scan the remote Docker (192.168.10.1) instead of the host (192.168.10.2).

DOCKER_HOST=tcp://192.168.10.1:2375 docker run -it --net host --pid host --userns host --cap-add audit_control \
    -e

[2019-02-05 14:23] CaosFR commented on #350
Yes this command work.  The command "docker -H tcp://192.168.10.1:2375 run -it --net host --pid host --userns host --cap-add audit_control [..] docker/docker-bench-security" work to but it scan the remote host again.

I think finally it's not possible to scan a distant docker machine.

[2019-02-08 12:27] konstruktoid commented on #350
`docker -H tcp://192.168.10.1:2375` will connect to the daemon on `192.168.10.1` and run the container on that host. Isn't that what you want?

[2019-02-12 13:52] xanonid opened #358 "Check 4.1 should warn if `USER root` is used."
Currently, the check only validates, that `.Config.User` is empty/unset.

The check should also warn if it is set to 0, i.e. the container runs explicitly (and not only by default) as root user. This would be nice especially in context of future issues similar to CVE-2019-5736 which are mitigated by using non-root containers.

[2019-02-12 15:26] konstruktoid commented on #358
Thanks @xanonid, I'll update as soon as possible.

[2019-02-13 14:01] konstruktoid commented on #358
4.1 has been updated to catch `User=root` and `User=0`.

[2019-02-13 14:27] konstruktoid commented on #358
Updated the CIS benchmark `4.1 Ensure a user for the container has been created` as well.

[2019-02-26 09:38] anthony-roger opened #362 "[Specification] 4.9 Consistency with CIS specification"
The  CIS specification paragraph 4.9 discourage to use ADD, and docker bench security check it.

**1.**  The CIS specification indicates this check is not scored, but the actual implementation scores it.

**2.** The use of ADD is discouraged for security purpose in the specification (and scored in docker bench security). However, the security aspect is not mentioned in docker documentation.

- htt

[2019-03-12 15:32] konstruktoid commented on #362
Hi @anthony-roger and I'm so sorry for the late reply.
https://github.com/docker/docker-bench-security/blob/master/tests/4_container_images.sh#L216-L248 doesn't not score but labels `4.9` as INFO.

Do you get a different result?

[2019-03-13 12:35] anthony-roger commented on #362
Hi @konstruktoid,
Thanks for the reply.

**1.** The failure doesn't decrease the score but the success increase it.
[Code here](https://github.com/docker/docker-bench-security/blob/master/tests/4_container_images.sh#L241-L244)
Thus, in a CI process, the expected score is different in case of failure or success.

**2.** Shouldn't be the security aspect mentioned in docker documentation?

**3.** Wha

[2019-03-14 11:10] konstruktoid commented on #362
Thanks @anthony-roger, I see what you mean and I'll merge a fix.

The `COPY` vs `ADD` isn't an obvious security issue, since it's valid and got it's uses.

https://docs.docker.com/develop/develop-images/dockerfile_best-practices/#add-or-copy
[code]
From CIS guide:
[code]

Running something like `docker history --format "{{ .CreatedBy }}" --no-trunc <IMAGE> | sed '$d' | grep 'ADD'` would exclude an

[2019-03-17 20:58] 030 opened #365 "What does the score indicate?"
The report indicates a score. I checked the README, but could not find the definition of this score. What score is sufficient?

[2019-03-19 12:44] konstruktoid commented on #365
Hi @030, there's no definition of what is a good score.
You could use it to see the difference between various system configurations.

[2019-03-19 13:28] konstruktoid commented on #362
@anthony-roger, code updated.

[2019-03-25 10:47] dipanjanmukherjee83 opened #369 "exclude certain images from check"
is it possible to exclude certain images from check. We have plenty of images for different kind of application and the problem is that for exclude only two or three images we have to listed out all the images using "-t" option. Is there any other way to exclude images from check.
Thanks in advance.

[2019-03-26 02:55] marksugar opened #370 "-l log is not exported"
I used -l to try to log everywhere, but it didn't produce
[code]
[code]
Am I using the -l option incorrectly?

But in the end I solved this problem with “tee”
[code]
thanks

[2019-03-26 02:59] marksugar commented on #369
mark

[2019-03-26 14:27] konstruktoid commented on #369
Hi @dipanjanmukherjee83 and @marksugar, currently there's no other way, but I'll add an option similar to `-x EXCLUDE` as soon as possible.

[2019-03-26 14:49] konstruktoid commented on #370
Hi @marksugar, when using the Docker image the log is created inside the container, so either you have to copy the file or include a local volume where you place the output.

[code]

[2019-03-27 06:01] marksugar commented on #370
[code]
[code]
[code]
@konstruktoid This is very effective, thank you

[2019-03-27 06:01] #370 closed

[2019-03-27 22:00] #365 closed

[2019-04-09 12:41] src7 opened #371 "/usr/bin not mounted inside container"
Hello,

surely because there was no very nice ways to do this, /usr/bin is not mounted inside the container. So files tested in this directory are always not found (docker-containerd and docker-runc) and no warnings are ever displayed for 1.12 and 1.13.

Actually, to solve the issue I run the container with :
[code]

PS : I know using default large auditing (especially on something like /var/lib/d

[2019-04-09 14:00] src7 commented on #371
Hi @konstruktoid,

in fact the script check the rules only if the file is found (and it works perfectly if ti is).

https://github.com/docker/docker-bench-security/blob/f791eb8a7047fadeb7bd742312c28999478c916f/tests/1_host_configuration.sh#L350

https://github.com/docker/docker-bench-security/blob/f791eb8a7047fadeb7bd742312c28999478c916f/tests/1_host_configuration.sh#L387

[2019-04-10 11:07] konstruktoid commented on #371
Thanks @src7, I'll update the readme.

[2019-04-10 13:23] src7 commented on #371
No problem

[2019-04-10 13:23] #371 closed

[2019-04-12 08:10] src7 commented on #309
Hello,

this test is a bit confusing because it returns always "INFO" since 1712.
Shouldn't it return PASS instead ? (since support for V1 registries has indeed been removed).
There is enough "INFOs" to take account of and some of them are really serious.

[2019-04-12 08:46] src7 commented on #309
Also I have serious doubts about the version comparison (because of `tr -d '[:alpha:]-,.'`).

For example, `18.06.3-ce` gives `18063` and is compared to `1712`.
If the string was `17.12.0-ce` for v12.17(.0), it would be `17120`.
`17.09.0-ce` would give `17090` and is greater than `1712` so there would be no warnings despite v17.09 has been released before v12.17.
 (I don't have such old versions t

[2019-04-12 09:01] src7 commented on #309
Ok, now I understand why it returns "INFO" and not simply "PASS".

[2019-04-13 14:35] konstruktoid commented on #309
Hi @src7, I've updated to `2.13` only uses year and month. Thanks for catching this.

[code]

[2019-04-16 09:53] meetinthemiddle-be commented on #158
Would there be scope for instructing macOS users better on what to do to solve this?

I'm aware that the readme states:

Nevertheless, it would be helpful - would those directories actually exist on macOS - if it was just a matter of adding those paths to the File Sharing Preferences in Docker, as is suggested in the hint that Docker mentions in the error thrown:

Removing them from the `docker ru

[2019-05-11 19:11] 42robotsCS opened #379 "DOCKER IMAGE VULNERABILITY (CVE-2019-5021)"
Please consider to update the Dockerfile concerning:

https://alpinelinux.org/posts/Docker-image-vulnerability-CVE-2019-5021.html

[2019-05-12 18:00] konstruktoid commented on #379
Thanks @42robotsCS, #380 fixes this.

[2019-05-28 20:40] Dave-0-0 opened #382 "[dumb-init] docker-bench-security.sh: No such file or directory"
Hello everyone,

First off, apologies if this is the wrong place to ask this. I am new to Github.

I have tried to run this tool on Docker Desktop (running on Windows 10 pro) by following the directions for building and running the tool and Docker-Compose found on this project's page. In both instances, I get the following error:

[dumb-init] docker-bench-security.sh: No such file or directory

I

[2019-05-29 07:17] Starbeuck commented on #382
Hello ! I'd try to do the same this morning and I have the same error... I need help too !
Thanks :)

[2019-05-29 11:09] konstruktoid commented on #382
Hi @Dave-0-0 and @Starbeuck, I have no experience when it comes too running `docker-bench-security` on anything else than a Linux system and there haven't been any form of testing on anything other than on Linux.

Could you include build and and run logs?

[2019-05-29 13:41] Dave-0-0 commented on #382
Hi @konstruktoid, I would be happy to do that, but I am not sure where they are located. Can you point me in that direction?

Thanks

[2019-05-29 13:48] konstruktoid commented on #382
There's actually no log files, it's the messages you get when you use `docker build` and `docker run`.

[2019-05-29 14:00] Dave-0-0 commented on #382
![docker1](https://user-images.githubusercontent.com/51136463/58563165-3aca9580-81f0-11e9-9a32-fcb53b155c2e.png)
![docker2](https://user-images.githubusercontent.com/51136463/58563166-3aca9580-81f0-11e9-9739-89f9d3a09814.png)

[2019-05-29 14:03] konstruktoid commented on #382
Thanks, can you build using `docker` and not `docker-compose`?
Please note that various things will break even if it builds, you probably don't have `/usr/lib/systemd`, `/var/lib`, or `/etc` directories.

[2019-05-29 14:15] Dave-0-0 commented on #382
![docker3](https://user-images.githubusercontent.com/51136463/58564024-d01a5980-81f1-11e9-8269-dfc4665007fd.png)

Is that the build command you are referring to?

Is docker-bench-security looking for this folders on the host, or in the containers itself? Since I have a Windows host, I definitely would not have those folders.

Thanks

[2019-05-29 15:17] jeff-cook commented on #382
Docker build needs to know where to find the Dockerfile. It looks like you are in the directory with it, so you just need to tell it current directory '.'

[2019-06-18 15:45] jammasterj89 opened #383 "Exclude containers switch"
Hi,

When trying to exclude some containers using the -x switch they are still being reported on in some checks (4.6 and 4.9) but have been correctly excluded from such checks as 5.10 - 5.13, so it is partially working.

To reproduce (basically run docker bench against the only nginx container on the server and exclude all wazuh containers):

    $ docker images
    REPOSITORY

[2019-06-18 19:21] konstruktoid commented on #383
Hi @jammasterj89 and thanks for reporting this, I'll have a look at it as soon as possible.

[2019-06-21 12:13] shawngmc commented on #355
@konstruktoid The information is available, at least when the docker host is in swarm mode (I don't have a non-swarm host handy to check.)

1. Use "docker stack ls" to get all stacks.
2. For each stack, use "docker stack services STACKNAME --quiet" to get all services.
3. For each service, use "docker service ps -q SERVICEID" to get the task IDs.
4. For each task, use "docker inspect --format '{{.

[2019-07-01 13:02] J0WI commented on #379
Would be great to have automated builds to trigger rebuilds if the base image changes. This have also been fixed in `3.7.3` (and therefore the upstream 3.7 tag).

[2019-07-01 13:19] konstruktoid commented on #379
See https://github.com/docker/docker-bench-security/pull/380#issuecomment-491616124 @J0WI

[2019-07-29 15:17] jammasterj89 commented on #383
Hi @konstruktoid

I have had a quick look at this myself. I think this issue comes down to my misreading of the usage. So it looks like you can include or exclude containers, but you cannot exclude images, only include them. I think the fix would be to add another flag to exclude images, but this probably doesn't make much sense (I may be wrong!) as I would assume if someone wanted to exclude a co

[2019-08-07 17:05] AkihiroSuda opened #388 "discussion: does it really make sense to suggest disabling ICC?"
https://github.com/docker/docker-bench-security/blob/55ab78bb1248c71b03c783d784b34afee7ac0d0b/tests/2_docker_daemon_configuration.sh#L12-L33

CIS 2.1 suggests disabling ICC, but I'm not sure it really makes sense to harden the network, because disabling ICC doesn't block raw Ethernet packets (unless `--cap-drop net_raw` is explicitly specified): https://github.com/moby/moby/issues/36355

Also, dis

[2019-08-19 08:49] konstruktoid commented on #388
Hi @AkihiroSuda, and sorry for the late reply.
There's a new CIS Docker Benchmark (released in july), but I haven't had time to go through all the changes and updates yet.

[2019-08-19 08:50] konstruktoid commented on #383
Thanks again @jammasterj89, and sorry for the late reply. Could you please create a PR, it's easier to work it.

[2019-08-19 08:56] AkihiroSuda commented on #388
The new version still suggests disabling ICC

[2019-08-19 09:19] konstruktoid commented on #388
Thanks, I'll push https://github.com/moby/moby/issues/36355 to CIS.
Meanwhile I will follow the benchmark as expected, and if your organization needs `ICC` I sugguest you just ignore the script output regarding that test.

[2019-08-19 17:55] raesene commented on #388
Hi Both,

So from the CIS benchmark perspective, there's a couple of things from this.

It sounds like we need to update the Impact section to note that setting `--icc=false` is not supported under Docker EE.

We also need to note that setting `--icc=false` is not a fully effective control, unless all containers attached to that bridge have dropped CAP_NET_RAW.  (That is in there as a recommendati

[2019-08-20 08:16] konstruktoid commented on #388
Yeah, I believe that would address it @raesene

[2019-08-20 08:23] AkihiroSuda commented on #388
yes, thanks

[2019-08-20 08:23] #388 closed

[2019-08-27 12:33] jammasterj89 commented on #383
@konstruktoid no problem, have done with PR 390.

Thanks!

[2019-08-29 08:35] konstruktoid commented on #261
CIS Docker Benchmark v1.2.0 was release on July 29th but still doesn't include any Windows tests.

[2019-08-29 08:35] konstruktoid commented on #270
Closing due to inactivity.

[2019-08-29 08:35] #270 closed

[2019-08-29 08:36] konstruktoid commented on #286
Closing due to inactivity.

[2019-08-29 08:36] #286 closed

[2019-08-29 08:37] konstruktoid commented on #330
Closing due to inactivity.

[2019-08-29 08:37] #330 closed

[2019-08-29 09:50] konstruktoid commented on #355
Long time no see @shawngmc, time for an interesting twist.
Examples are based on the `redis` compose file above.

[code]
will return `{on-failure 5s 0xc0002e93c0 2m0s}` and that's great.

Same thing for each container:
[code]

[code]

The issue is that the containers no longer shows up with the `docker` command.
[code]

They do however if you use a basic `docker-compose.yml`:
[code]
[code]
docker-

[2019-08-29 09:54] konstruktoid commented on #350
Closing due to inactivity.

[2019-08-29 09:54] #350 closed

[2019-08-29 09:55] konstruktoid commented on #382
Closing due to inactivity.

[2019-08-29 09:55] #382 closed

[2019-08-29 09:59] konstruktoid commented on #319
Since you can't set a PID limit in version 3, this test will fail as intended.
https://github.com/docker/compose/issues/4792

[2019-08-29 09:59] #319 closed

[2019-08-29 10:02] konstruktoid commented on #334
I believe this would involved unnecessary amount of coding and is better resolved by manually removing the various `/dev/null` from the commands you find interesting.

[2019-08-29 10:02] #334 closed

[2019-08-29 10:04] konstruktoid commented on #321
https://github.com/docker/docker-bench-security/blob/master/docker-bench-security.sh#L42

Closing due to inactivi

[2019-08-29 10:04] #321 closed

[2019-08-29 10:05] konstruktoid commented on #358
Closing due to inactivity.

[2019-08-29 10:05] #358 closed

[2019-08-29 10:06] konstruktoid commented on #362
Closing due to inactivity.

[2019-08-29 10:06] #362 closed

[2019-08-29 10:23] #379 closed

[2019-08-29 13:10] #383 closed

[2019-08-29 13:12] konstruktoid commented on #369
Closed thanks to #390

[2019-08-29 13:12] #369 closed

[2019-08-29 16:27] shawngmc commented on #355
I suspect this is a side effect of swarm orchestration and how it's deployed. Are you testing this on a single node docker swarm?

On a single-node swarm, I brought up the offending file with `docker-compose up`. The deploy key is ignored - even though the engine is in a single node swarm, it was deployed directly to this node. It shows up in the docker ps.

[code]

If I use `docker stack deploy`

[2019-08-30 06:16] konstruktoid commented on #355
Yeah, but another issue that arises when you have to use `docker service` is that none of the containers are shown so basically every test and container function has to be re-written.

[2019-08-30 11:40] shawngmc commented on #355
Agreed, that's a bit annoying. I think there are a couple ways to tackle this.

1) Focus on making sure that the tests work for all containers on the current docker host - whether it's normal, single-node swarm or multi-node swarm - then simply document that it needs run on every host in the swarm. You could even provide a docker compose file to help with that via the [global deploy mode](https://

[2019-08-30 14:20] konstruktoid commented on #355
I guess we have to check if there's a service running and then flag various test, just like we do in the `swarm` section, but then we might miss local containers.

[2019-09-03 12:18] mathieubodin opened #393 "Some tests fails despite correct configuration"
Hi,

I ran several times the security tests against my local installation (CentOs7), but some critical tests fails despite the following configuration file :
[code]

The service starts with the following configuration:
[code]

I've read the code and tried the following:
[code]
It returns "OK" so my guess is something can't read properly the Docker configuration files.

For the record, here is how

[2019-09-03 13:09] konstruktoid commented on #393
Hi @mathieubodin and thanks for reporting this.
Could you please run the script (w/o Docker) or rebuild `docker/docker-bench-security` locally using the master branch?

[2019-09-04 08:20] mathieubodin commented on #393
Hi,

I ran the following commands:
[code]

Then I got the following results:
[code]

For me, it enlighten there are differences between the Docker image and the source.

Many thanks for the tip !

[2019-09-04 08:20] #393 closed

[2019-09-04 08:21] mathieubodin commented on #393
Just a note: Why checking `/var/lib/docker` is audited when i configured another folder ?

[2019-09-04 08:55] konstruktoid commented on #393
@mathieubodin yeah, there's inconsistency between source and docker image, but I'll bump the image as soon as more tests have been done.

It's following the CIS Benchmark but should probably be more like `mountpoint -q -- "$(docker info -f '{{ .DockerRootDir }}')"`. I'll look into it.

[2019-09-30 10:09] AkihiroSuda opened #394 "1.2.1 "Ensure a separate partition for containers has been created" doesn't work with userns"
https://github.com/docker/docker-bench-security/blob/6d73492aab235840aa134878a079d6e4da328eed/tests/1_host_configuration.sh#L68-L86

This check fails when `/var/lib/docker` has a dedicated partition but `userns-remap` is enabled, because `.DockerRootDir` is like `/var/lib/docker/296608.296608`, not `/var/lib/docker`

[2019-09-30 10:11] AkihiroSuda opened #395 "1.2.12 "Ensure auditing is configured for Docker files and directories - /usr/sbin/runc" should also check /usr/bin/runc"
https://github.com/docker/docker-bench-security/blob/6d73492aab235840aa134878a079d6e4da328eed/tests/1_host_configuration.sh#L431-L466

`containerd.io` dpkg installs runc as `/usr/bin/runc`

[2019-09-30 10:29] AkihiroSuda opened #396 "Plan for new release?"
v1.3.3 was released two years ago.
https://github.com/docker/docker-bench-security/releases

Is there any plan to ship a new release?

[2019-09-30 12:46] konstruktoid commented on #396
Hi @AkihiroSuda, yeah v1.3.3 was release two years ago but the latest CIS benchmark was released in july and it seems 1.3.4 never got made into Docker image...

https://github.com/docker/docker-bench-security/commit/227f2faa5b92930c67a0c91f74c1eabaedcaae03#diff-3fb01832c41e63e84695c76e31a8e0f9

A new Docker image and official release will be published after additional testing.

[2019-09-30 12:54] konstruktoid commented on #395
`containerd.io` isn't a official Docker release so to say, and `/usr/bin/runc` isn't present in the CIS Docker benchmark.
Please see https://github.com/docker/docker.github.io/pull/7717 and https://github.com/moby/moby/issues/38185.

[2019-09-30 12:56] konstruktoid commented on #394
Duplicate of https://github.com/docker/docker-bench-security/issues/332

[2019-10-04 11:24] anass114 opened #397 "Error in path for test 3.21 and 3.22"
hi,

The two test are checking permissions for the file /etc/default/docker

Thanks

[2019-10-04 12:49] konstruktoid commented on #397
Thanks for the catch @anass114. Will fix.

[2019-10-04 12:51] #397 closed

[2019-10-04 14:05] anass114 opened #399 "Test 4.9 fails to detect ADD instruction"
Hi,
I'm running the script in Debian image and this test doesn't detect ADD instructions
`if docker history --format "{{ .CreatedBy }}" --no-trunc "$img" | \
      sed '$d' | grep -q 'ADD'; then`

Maybe it should be replaced by :
`if docker history --format "{{ .CreatedBy }}" --no-trunc "$img" | \
      sed "$d" | grep -q 'ADD'; then`

Before modification
![image](https://user-images.githubusercon

[2019-10-07 07:35] konstruktoid commented on #399
Hi @anass114, I can't see any difference between the two commands in your issue and I believe the current test works as intended.

[code]

[2019-10-07 08:20] anass114 commented on #399
Hi,

Well in fact I Don't really understant why you use `sed '$d'`
The response from this command `docker history --format "{{ .CreatedBy }}" --no-trunc $(docker images -q alpine:latest)` will you give you :
`/bin/sh -c #(nop)  CMD ["/bin/sh"]
/bin/sh -c #(nop) ADD file:fe64057fbb83dccb960efabbf1cd8777920ef279a7fa8dbca0a8801c651bdf7c in /`

If you use sed on this response, it will delete the last

[2019-10-07 08:22] anass114 commented on #399
In debian, for some Reason `sed "$d"` does Nothing :
`root@jessie:/home/vagrant/tets/docker-bench-security# docker history --format "{{ .CreatedBy }}" --no-trunc $(docker images -q alpine:latest) | sed "$d"
/bin/sh -c #(nop)  CMD ["/bin/sh"]
/bin/sh -c #(nop) ADD file:fe64057fbb83dccb960efabbf1cd8777920ef279a7fa8dbca0a8801c651bdf7c in /
root@jessie:/home/vagrant/tets/docker-bench-security# docker

[2019-10-07 12:26] konstruktoid commented on #399
My bad, it should of course be `'$d'`,`"$d"` is empty.

Yes, and that's the point unless proven wrong. Many baseimages adds the file system as a `.tgz|.tar.gz`. See for example https://github.com/alpinelinux/docker-alpine/blob/v3.10/x86_64/Dockerfile or https://github.com/debuerreotype/docker-debian-artifacts/blob/dist-amd64/buster/Dockerfile.

[2019-10-07 12:39] anass114 commented on #399
Okay, well my bad, sorry for the inconvenience

[2019-10-07 12:39] #399 closed

[2019-10-07 13:51] konstruktoid commented on #399
No worries 👍

[2019-10-07 14:24] AurelienGasser opened #400 "sh runner error when $PATH contains space"
When I run `docker-bench-security.sh`, the script aborts with the error `bad variable name`:

[code]

This is because my `PATH` includes `/opt/GitHub Desktop` (which contains a space)

[2019-10-08 06:44] #400 closed

[2019-11-05 09:51] konstruktoid commented on #395
Closing due to inactivity.

[2019-11-05 09:51] #395 closed

[2019-11-05 12:50] konstruktoid commented on #396
v1.3.5 released: https://github.com/docker/docker-bench-security/releases/tag/v1.3.5

[2019-11-05 12:51] konstruktoid commented on #329
@diogomonica, v1.3.5 was just released, https://github.com/docker/docker-bench-security/releases/tag/v1.3.5, could you sign, add a `:latest` and a version tag to the image and publish it?

[2019-11-05 12:58] AkihiroSuda commented on #396
thanks!

[2019-11-05 12:58] #396 closed

[2019-11-06 07:54] konstruktoid opened #405 "v1.3.5 needs to be signed, tagged and published."
v1.3.5 was just released; https://github.com/docker/docker-bench-security/releases/tag/v1.3.5.
The image needs to be signed by Docker, have a :latest and a version tag added to the image and published.

[2019-11-06 07:54] konstruktoid commented on #405
Relates to #329

[2019-11-06 14:40] konstruktoid commented on #405
@diogomonica @docker/security?

[2019-11-12 08:31] konstruktoid commented on #405
https://github.com/orgs/docker/teams/security/discussions/1

[2019-11-12 13:13] justincormack commented on #405
Hmm, Diogo no longer works at Docker. I don't actually know who has access to the signing key (there may be a copy in the safe). @konstruktoid who has done this in the past?

[2019-11-12 13:51] konstruktoid commented on #405
Hi @justincormack, that's good to know since he was the creator (https://github.com/docker/docker-bench-security/commit/487307834fa12a98181365df9bac7225f79a8083) and original maintainer.

He also signed and pushed the images in the past, https://github.com/docker/docker-bench-security/issues/138.

[2019-11-27 21:54] kumarchatla commented on #351
is this option removed? I'm not able to scan specific image or container.

[2019-11-28 10:44] konstruktoid commented on #351
Hi @kumarchatla, `-i` and `-x` now checks both images and containers.
https://github.com/docker/docker-bench-security/commit/c53157e184135eb037df28005e04747f8748d907

[2019-12-10 08:28] zshrine opened #408 "Issue for item 3.9 to 3.14 on v1.3.5"
Hi,

I have configured my daemon.json as per below snippet.

[code]

When I run a scan on the base host, my log shows the below.

[code]

I did an echo of $tlscacert and got the below.
[code]
In 3_docker_daemon_configuration_files.sh, line 263 `if [ -f "$tlscacert" ]; then` will definitely fail since it is checking for the full string of `tlscacert:/var/lib/docker/certs/ca.pem` instead of just `/v

[2019-12-10 16:02] konstruktoid commented on #408
Thanks for reporting this @zshrine, I'll have a look as soon as possible.

[2019-12-11 02:35] zshrine commented on #408
Thank you! I modified the script as per below to only get the json value.
`tlscacert=$(get_docker_configuration_file_args 'tlscacert' | cut -d ":" -f 2)`

[2019-12-11 09:11] konstruktoid commented on #408
I'm not getting the same results as you, sorry to say.
Did the following modification:
[code]

and the result was correct:

[code]
[code]

[2019-12-12 05:33] zshrine commented on #408
My apologies. The daemon.json i provided was wrong.

The actual daemon.json is as below:
[code]

I have tested according to your sample above and it is parsing the value correctly. Seems like the space missing between json key and value is what causes the values to be parsed wrongly in my environment. In my daemon.json, there was no space between the key and value.

[2019-12-12 10:04] konstruktoid commented on #408
Could you test #409?

[2019-12-13 06:44] zshrine commented on #408
I tested. It is working as per expected. Thanks.

[code]

The json results for 3.9 to 3.14
[code]

[2019-12-13 07:13] zshrine opened #410 "Item 2.6 on v1.3.5 showing daemon not listening on tcp"
Hi,

While running the scan, my result for 2.6 is as per below.
`{"id": "2.6", "desc": "Ensure TLS authentication for Docker daemon is configured", "result": "INFO", "details": "Docker daemon not listening on TCP"},`

But my daemon.json has been configured to listen on tcp.
[code]

I noticed that in 2_docker_daemon_configuration.sh, line, 153, the `$CONFIG_FILE` will always be null. Seems like u n

[2019-12-13 12:59] konstruktoid commented on #410
Thanks again, will check.

[2019-12-13 13:00] konstruktoid commented on #408
Merged.

[2019-12-16 08:58] konstruktoid commented on #410
Can you test https://github.com/docker/docker-bench-security/pull/411?

[2019-12-17 07:59] zshrine commented on #410
Seems like $CONFIG_FILE is still empty.

[code]

[2019-12-17 09:00] konstruktoid commented on #410
`$CONFIG_FILE` is not set when using the `-c` flag.

[2019-12-17 09:08] zshrine commented on #410
Ok. Tested a full scan, it is working. Thanks!

[2019-12-17 09:15] konstruktoid commented on #410
You're welcome, but I don't know why it's not working when using `-c`.

[2019-12-17 09:39] zshrine commented on #410
`$CONFIG_FILE` is set with this method `get_docker_configuration_file_args`. The first occurrence of this method being called is in `check_2_1`.

My guess is that probably `$CONFIG_FILE` was already set in the previous methods for `check_2_6` to work.

Since the first condition for `check_2_6` is `if grep -qi 'tcp://' "$CONFIG_FILE" || \` and is reliant on the variable `$CONFIG_FILE`.

[2019-12-17 09:49] konstruktoid commented on #410
True, but `$CONFIG_FILE` is set at https://github.com/docker/docker-bench-security/blob/master/helper_lib.sh#L85-L96 and `helper_lib.sh` is always included, and there's not difference from using `-c` or not.

[2019-12-17 10:03] zshrine commented on #410
I think running `helper_lib.sh` just declares the method, it does not actually run the method. I did a small test. Maybe you want to try doing an `echo` inside one of the methods to prove this?

[code]

[2019-12-17 14:05] konstruktoid commented on #410
You're correct again, added so that we get the configuration file before the tests.

[2019-12-18 06:12] zshrine commented on #410
Glad I was able to help. This project helped me out a lot too. :)

[2019-12-18 07:19] konstruktoid commented on #410
Thank you @zshrine :)

[2019-12-27 22:00] konstruktoid commented on #408
Closing since it seems to work after merge.

[2019-12-27 22:00] #408 closed

[2019-12-27 22:00] konstruktoid commented on #410
Closing since it seems to work after merge.

[2019-12-27 22:00] #410 closed

[2019-12-27 22:02] #394 closed

[2020-01-04 07:59] dxcSithLord commented on #348
I would like to propose an update to the bench testing structure that will aid in the resolution of this issue.  I very much like the way that this has been written, but looking at the code with fresh eyes, I see too much repeated code in every test, which leads to increased probability of coding errors/typos/inconsistent output.
What I propose is to replace the bulk of each check_x_y_z test (thos

[2020-01-06 16:20] wlawton commented on #332
I have the same issue. I'm working with an AWS EC2 instance with an EBS volume mounted for the docker files. Originally I created sym-link in /var/lib/docker for /mnt/docker but I still got the warning for the 1.1 test. So then I copied the contents of /var/lib/docker into /mnt/docker, removed /var/lib/docker and added -g '/mnt/docker' to the docker startup options. Unfortunately still failing the

[2020-01-07 10:38] konstruktoid commented on #332
Hi @wlawton, I might be misunderstanding but does 1.1 fail even with the below results?

[code]

[2020-01-09 12:43] wlawton commented on #332
Hi @konstruktoid

Thanks for responded. Yes it still fails unfortunately. Here is the output of those commands followed immediately by a run of the docker_bench_security test:

[root@ip-10-18-44-139 artifactory]# mountpoint -- '/mnt/docker'
/mnt/docker is a mountpoint
[root@ip-10-18-44-139 artifactory]# docker info -f'{{.DockerRootDir }}'
/mnt/docker
[root@ip-10-18-44-139 artifactory]# docker run

[2020-01-09 12:46] wlawton commented on #332
Hi @konstruktoid.

Thanks for responding. Yes the 1.1 test is still showing as a warning. Here is the output of the two mount check commands followed by the tests run in sequence:

[root@ip-10-18-44-139 artifactory]# mountpoint -- '/mnt/docker'
/mnt/docker is a mountpoint
[root@ip-10-18-44-139 artifactory]# docker info -f'{{.DockerRootDir }}'
/mnt/docker
[root@ip-10-18-44-139 artifactory]# docker

[2020-01-09 12:49] wlawton commented on #332
Hi @konstruktoid.

Yes unfortunately it still outputs a warning. Here is the output of the two mount checks and the tests execution run in sequence:

`[root@ip-10-18-44-139 artifactory]# mountpoint -- '/mnt/docker'
/mnt/docker is a mountpoint
[root@ip-10-18-44-139 artifactory]# docker info -f'{{.DockerRootDir }}'
/mnt/docker
[root@ip-10-18-44-139 artifactory]# docker run -it --net host --pid host

[2020-01-09 14:37] konstruktoid commented on #332
Could you try running the bash script? The Docker image hasn't been updated yet (https://github.com/docker/docker-bench-security/issues/405).

[2020-01-09 14:42] wlawton commented on #332
Happy days! Warning is absent when using the bash script. Thanks a lot for your support.

Initializing Thu Jan  9 14:40:11 UTC 2020

[INFO] 1 - Host Configuration

[INFO] 1.1 - General Configuration
[NOTE] 1.1.1  - Ensure the container host has been Hardened
[INFO] 1.1.2  - Ensure Docker is up to date
[INFO]        * Using 18.09.9, verify is it up to date as deemed necessary
[INFO]        * Your o

[2020-01-09 14:44] konstruktoid commented on #332
Glad I could help :)

[2020-02-02 17:49] paulcalabro commented on #319
If it helps anyone else, I simply setup a hardening script to the side for items not supported by Docker Compose v3.

e.g.

[code]

[2020-02-13 08:58] konstruktoid commented on #405
Any progress @justincormack @docker/security?

[2020-02-25 06:22] klo147 opened #416 "Issues running the benchmark"
Hi,

I am quite new to docker and would like to use this to test for security.

Noob question. How to use this docker image?

I built a docker container and ran it, then SSH into the running image and executed the commands here to run it. Git pull => build => run  and I got this error.

docker: Error response from daemon: OCI runtime create failed: container_linux.go:346: starting container proces

[2020-02-25 08:48] konstruktoid commented on #416
Hi @klo147, you don't have to ssh into the container, you just need to run it on the host you're testing.
Or git clone the project and run the shell file.

I suggest the later since the docker image, unless you build it yourself, is outdated (#405).

Shell code example:

[code]

Docker run example:

[code]

[2020-02-26 03:53] kennylo921 commented on #416
Thanks for the help.

I got it to run locally.

Another question. Anyone know how to run it against a container running in Google App Engine?

I believe the bench will also test the daemon and host configs so will I be able to test GAE's daemon and host config?

[2020-02-26 09:04] konstruktoid commented on #416
You're welcome.
If you're able to upload and run the container in GAE I believe it will (try) to scan and test the daemon and host as well, depending on the privileges.

[2020-03-12 13:11] yaminisridaran opened #420 "docker bench security docker image is not tag with version"
docker bench security docker image is not tag with version.
Can we please have a docker bench security docker image tagged with version?

[2020-03-12 13:15] konstruktoid commented on #420
Hi there @yaminisridaran, thanks for writing this issue, but I believe it's a duplicate of #405

[2020-04-01 08:05] paulcalabro commented on #319
@konstruktoid You could possibly check the labels for `com.docker.compose.*` to determine if the container was started using Docker Compose, however, I agree that it's still a valid test.

[2020-04-01 10:30] mrdulin commented on #158
same issue. macOS

[code]

[2020-04-01 11:21] konstruktoid commented on #158
@mrdulin, I've updated the instructions.

[2020-04-07 04:03] ahteck opened #422 "[dumb-init] docker-bench-security.sh: No such file or directory"
Hi,

I saw someone else raised this issue before, but there are no solution to this issue.
Can anyone advise what should I check in my Docker Toolbox?

![image](https://user-images.githubusercontent.com/27942400/78628750-aa58e900-78c7-11ea-914a-aefa1ccbbf0a.png)

[2020-04-07 06:52] konstruktoid commented on #422
Hi @ahteck, are you building a local copy or using the available image? Have you tried running the shell script?
And it seems that is a Windows shell you're running?

[2020-04-07 06:59] ahteck commented on #422
I have built a local copy.
Yes, I am running on Docker Toolbox in Windows 10
https://docs.docker.com/toolbox/toolbox_install_windows/

![image](https://user-images.githubusercontent.com/27942400/78639348-5d354100-78e0-11ea-860c-cedeede3542d.png)
This is the result when I ran the script

[2020-04-07 07:07] konstruktoid commented on #422
I haven't tested on Windows 10, but let's try it.

First, it seems you're missing the `ss` command.

[code]

[2020-04-11 09:33] illyaMs commented on #405
A pity that this issue did not get proper attention during the 5 month since creation.
All recent additions/improvements are not delivered to image consumers, so everyone is using a 1.3.4 version.

We've managed to workaround it by pushing our own image built on latest state of `master` branch. But that obviously is not a way we'd like to handle (sitting on upstream `docker/docker-bench-security`

[2020-04-11 09:48] illyaMs opened #424 "containerd and runc audit checks use the wrong path"
Hi everyone (and thanks for doing a great job for community by maintainting this project and contrubuting to it)!

**Problem**:
The following checks:
* `1.2.11 Ensure auditing is configured for Docker files and directories - /usr/bin/containerd`
* `1.2.12 Ensure auditing is configured for Docker files and directories - /usr/sbin/runc`
are looking for the `containerd` and `runc` audit entries, supp

[2020-04-11 10:31] konstruktoid commented on #405
I totally agree @illyaMs.

Any progress @justincormack @docker/security?

[2020-04-11 10:40] konstruktoid commented on #424
Hi @illyaMs, you're absolutely correct.
This is because the test is based on the CIS Docker Benchmark which states `1.2.11 Ensure auditing is configured for Docker files and directories -/usr/bin/containerd (Scored)` and `1.2.12 Ensure auditing is configured for Docker files and directories -/usr/sbin/runc (Scored)`, so the script is forced to include it.

I'll go through  various distros and push

[2020-04-13 10:30] illyaMs commented on #424
Cool, thanks for the quick feedback, @konstruktoid (and for your efforts, for sure).

[2020-04-14 06:24] karthiksiva-github opened #425 "Dockerfile for opensuse doesn't seem to work"
Hi,

1) Dockerfile.opensuse doesn't seem to work since the base image "opensuse"is deprecated. Either we will have to use opensuse/leap and opensuse/tumbleweed whichever is appropriate.
2) awk is no more part of opensuse and is deprecated .Can the script be modified to use gawk instead of awk.

Thanks,
Karthik

[2020-04-14 07:18] konstruktoid commented on #425
Thanks @karthiksiva-github for opening this issue, I will have a look at it as soon as possible.

[2020-04-15 04:12] ne0z opened #426 "Report in JSON format"
Hello guys, any plan about the Docker Bench Security report in JSON format?

Thanks.

[2020-04-15 07:49] konstruktoid commented on #426
Hi @ne0z, the script should produce logs in the current directory named `docker-bench-security.sh.log.json` and `docker-bench-security.sh.log`.

[2020-04-15 08:55] #425 closed

[2020-04-15 08:56] konstruktoid commented on #425
I believe this has been fixed with #427

[2020-04-15 15:03] konstruktoid commented on #424
@illyaMs, on which distributions/OS:es are the files named `docker-containerd` and `docker-runc`?

[code]

`centos` failed with the following:
[code]

[2020-04-15 15:08] konstruktoid commented on #424
Seems the `README` is wrong as well.

[2020-04-16 14:55] konstruktoid commented on #424
I've update the CIS Docker Benchmark draft:
`1.1.12 Ensure auditing is configured for Docker files and directories - /usr/bin/runc`

[2020-04-16 17:23] IrmantasM commented on #422
I'm getting same error on macOS Mojave 10.14.6:

[code]

Same error when building and running locally.

[2020-04-17 06:14] konstruktoid commented on #422
Hi there @IrmantasM, I incorrectly added `-v /usr/local/bin:/usr/local/bin:ro` to the `README`.
Will fix.

[2020-04-17 06:27] konstruktoid commented on #422
I believe this is fixed in https://github.com/docker/docker-bench-security/pull/429

[2020-04-17 09:11] IrmantasM commented on #422
Thanks @konstruktoid, it works fine now!

[2020-04-20 09:07] illyaMs commented on #424
@konstruktoid not sure about the whole list of distributions, but at least these paths are different under the following configuration:
[code]

I've just ran part of your command on one of such clusters and here's the result:
[code]

[2020-04-20 09:30] ahteck commented on #422
Able to run pre-built container
Closing this issue

[2020-04-20 09:30] #422 closed

[2020-04-20 12:17] konstruktoid commented on #424
@illyaMs are those installed with `curl -sSL get.docker.com | sh` or the available repo packages?

[2020-04-20 14:43] illyaMs commented on #424
@konstruktoid Double-checked with my colleagues, been told that the installation has been done via a  simple `apt install docker.io` command.

[2020-04-20 16:04] konstruktoid commented on #424
That's what I thought @illyaMs, I believe we had a related issue earlier but I can't find it at the moment.
Debian-family `docker.io` vs `docker` (the KDE3/GNOME2 applet) naming is kind of messy.

I suggest following https://docs.docker.com/engine/install/ubuntu/#uninstall-old-versions.

[2020-04-22 08:17] illyaMs commented on #424
Thanks for the link, @konstruktoid .

Just to make things 100% clear, do I get it right that the old version of docker package (`docker.io`) is the root cause of the issue? (And though by following the update instructions you've mentioned above we'll have the `runc` and `containerd` under the paths expected by `docker-bench`?)

[2020-04-22 08:25] konstruktoid commented on #424
Yes that is mostly correct @illyaMs.
As we both pointed out in this thread, the CIS Benchmark is out-of-date regarding `1.2.12 Ensure auditing is configured for Docker files and directories -/usr/sbin/runc` and I've submitted an update.

[2020-04-22 20:07] illyaMs commented on #424
Thanks for clarification.
Ok then, so I guess the issue may be closed (or shall we keep it open for a while and wait till your `1.2.12` correction is approved/added)?

[2020-04-23 07:55] konstruktoid commented on #424
Let's keep it open as it's still an issue until the next benchmark arrives.

[2020-04-28 19:32] rirlswift opened #431 "Running security bench: Cannot reach trust server at this time"
I am running the security bench per the documentation for Ubuntu
[code]
I get this output:
[code]
Is there something I am missing? Do I need to setup the DTR per [here](https://docs.docker.com/ee/dtr/user/access-dtr/)

I'd truly appreciate any help or suggestions or guidance.

[2020-04-28 19:39] konstruktoid commented on #431
Hi @rirlswift, are you running the officail Docker image, or have you built your own?
If you're using the official image, could you please try running the script on the host or build your own image?

[2020-04-28 21:06] rirlswift commented on #431
Hey  konstruktoid,
Thanks for helping me get this to work. I am now running the script on the host via
[code]
Looks great, even on CE.

[2020-04-28 21:06] #431 closed

[2020-04-29 06:46] konstruktoid commented on #431
ref https://github.com/docker/docker-bench-security/issues/405

[2020-04-29 09:08] ndubbala opened #432 "How score count is calculated ?"
Hi Team,

Could you help me with understanding score calculation.

i don't understand score vs checks

[NOTE] 1.1.1  - Ensure the container host has been Hardened
[PASS] 1.1.2  - Ensure Docker is up to date
[INFO]        * Using 19.03.8 which is current
[INFO]        * Check with your operating system vendor for support and security maintenance for Docker

[INFO] 1.2 - Linux Hosts Specific Configu

[2020-04-29 09:21] ndubbala commented on #432
I see total 19 currentscore +1 entries in my code but getting score 10 even all checks are passed

 currentScore=$((currentScore + 1))

[2020-04-29 10:28] konstruktoid commented on #432
Hi @ndubbala, I'll update the script with which tests are scored and which is not as soon as possible.
But the short answer is that it varies, see below, 1.1.2 is an `Not Scored` test and 1.2.1 is.

[code]

[code]

[2020-04-29 10:34] ndubbala commented on #432
Thank you for your quick response Thomas.

Could you please let me when you add those code changes for scored and not scored.

[2020-04-29 11:49] ndubbala commented on #432
Need your help in understanding more about docker_daemon_configuration section.

[2020-04-29 12:22] konstruktoid commented on #432
Hi again @ndubbala, is there anything specific you need help with?
And have you read the `CIS Docker Benchmark` available at https://www.cisecurity.org/benchmark/docker/? It explains alot.

[2020-04-29 16:16] ne0z commented on #426
Finally, I found that log file. Thanks.

[2020-04-29 16:16] #426 closed

[2020-04-30 05:55] ndubbala commented on #432
Thanks for the information Thomas.

Please let me know when you enable score checks.

[2020-04-30 08:04] ndubbala commented on #432
Do we have scripts to pass those CIS recommendations ?

[2020-04-30 08:28] konstruktoid commented on #432
Not that I'm aware of.

[2020-05-06 08:57] HristoStoyanovMM opened #433 "The image on Docker Hub is outdated"
Hi guys,

It made me impression that the official docker image referenced by the README is 1 year old... It might be helpful if you rebuild it with the latest version.
I suppose you guys know better than anyone, that git commits could automatically trigger Docker Hub automated builds :)

On an unrelated note, it might also be valuable to add **CIS Level 1 only** check functions. Something like:
`c

[2020-05-06 09:01] konstruktoid commented on #433
Hi @HristoStoyanovMM, and you're absolutely correct.
See https://github.com/docker/docker-bench-security/issues/405 for more information.

[2020-05-06 09:08] HristoStoyanovMM commented on #433
Hi @konstruktoid , thanks for the quick response.
Let's hope that the updated and signed image will be pushed soon.

What do you think about my proposal for adding **level 1 only** check functions?

[2020-05-06 10:11] konstruktoid commented on #433
Sorry I missed that part somehow, a level 1 only function with be great. Feel free to submit a PR.

[2020-05-07 09:12] ndubbala commented on #432
Hi Thomas,

By any chance do you got time to loook into score issue ?

[2020-05-08 10:41] #432 closed

[2020-05-12 12:43] yaminisridaran opened #437 "[WARN] 4.1 - Ensure a user for the container has been created"
[WARN] 4.1 - Ensure a user for the container has been created
I am deploying my container in Kubernetes using deployment and configured security context to runAsUser: 1000

When I execute the docker bench tool that pod is displayed with warning Running as root.

$ docker inspect --format 'User={{.Config.User}}' 81ab3f4a5a87
User=1000

Can anyone please help me with this issue

[2020-05-12 15:05] konstruktoid commented on #437
Hi @yaminisridaran, I haven't tested the script in a K8s environment and it wasn't really written with that in mind, but could you share the commands used when creating the container?

[code]

[2020-05-12 15:10] konstruktoid commented on #437
[code]

[2020-05-12 16:07] yaminisridaran commented on #437
@konstruktoid I tried the above mentioned both the commands.
 for user in $(docker inspect --format 'User={{.Config.User}}' $(docker ps -q)); do if [ "$user" = "User=0" ] || [ "$user" = "User=root" ] || [ "$user" = "User=" ] || [ "$user" = "User=[]" ] || [ "$user" = "User=<no value>" ]; then echo "FAIL"; else echo "OK"; fi; done
FAIL
FAIL
OK
OK
OK
FAIL
FAIL
FAIL
FAIL
FAIL
FAIL
FAIL
FAIL
FAIL
FAIL

[2020-05-12 16:54] konstruktoid commented on #437
And what does `docker inspect --format 'User={{.Config.User}}' $(docker ps -q)` output?

[2020-05-13 00:02] yaminisridaran commented on #437
@konstruktoid$ docker inspect --format 'User={{.Config.User}}' $(docker ps -q)
User=0
User=
User=1000
User=1000
User=1000
User=
User=0
User=
User=0
User=0
User=0
User=0
User=
User=
User=
User=0
User=
User=0
User=0
User=
User=

[2020-05-13 06:21] konstruktoid commented on #437
So the test works when doing it manually, you only got three containers with a non-root user defined.

[2020-05-13 06:22] yaminisridaran commented on #437
@konstruktoid  Yes. But these 3 container are in single pod. But the docker bench tool shows this pod running as ROOT

[2020-05-13 06:30] konstruktoid commented on #437
@yaminisridaran, the script isn't in anyway K8s aware so pods et al isn't taken into consideration, only Docker commands and settings.

[2020-05-13 06:34] yaminisridaran commented on #437
@konstruktoid but as per the docker commands and settings these containers should not be displayed in the output.

[2020-05-13 06:35] yaminisridaran commented on #437
I see the same issue with memory restriction docker benchmark. Have configured memory restriction and I am able to see the memory restriction using command `docker stats --all --format "table {{.Container}}\t{{.CPUPerc}}\t{{.MemUsage}}"`

[2020-05-13 06:44] konstruktoid commented on #437
Could you do `sudo bash -x docker-bench-security.sh -c container_images &> ./dbs.log` and then upload the dbs.log (after you cleaned it, if necessary)  to gist.github.com and paste the link?

[2020-05-13 08:49] yaminisridaran commented on #437
@konstruktoid The log output has my container image names. I think I will not be able to upload with the names.

[2020-05-13 08:49] yaminisridaran commented on #437
Any other way to debug this issue

[2020-05-13 09:07] konstruktoid commented on #437
well, you can redact the names.

[2020-05-13 09:56] yaminisridaran commented on #437
@konstruktoid dbs.log has some many containers from my cluster. changing all those name takes time. Do we have a similar way to verify this?

[2020-05-13 10:33] konstruktoid commented on #437
Can't you just script the redaction? `sed s/<insert logic here>/REDACTED/g'
It's hard to find any bugs without logs and specially since the basic stuff works as seen above.

[2020-05-15 10:34] yaminisridaran commented on #437
@konstruktoid I executed /usr/local/bin # docker-bench-security.sh -c container_images &> ./dbs.log

output dbs.log screenshot

<img width="1679" alt="Screenshot 2020-05-15 at 4 02 38 PM" src="https://user-images.githubusercontent.com/25167169/82041359-a89ff380-96c5-11ea-9c1c-e45e5c3a45cc.png">

[2020-05-15 11:04] yaminisridaran commented on #437
@konstruktoid Found out the issue. Pause container in pod it is considering as root user.

[2020-05-15 12:21] konstruktoid commented on #437
@yaminisridaran Thanks for looking into this, and that's a kind of funny result.

Basic Docker:
[code]

[2020-05-18 09:37] yaminisridaran commented on #437
@konstruktoid User=0 needs to be considered as root user

[2020-05-18 09:52] konstruktoid commented on #437
We do? https://github.com/docker/docker-bench-security/blob/master/tests/4_container_images.sh#L37

[2020-05-19 04:49] yaminisridaran commented on #437
@konstruktoid I am using the below mention comment to launch and I noticed the 4_container_images.sh is not the latest. looks like latest changes in 4_container_images.sh is not reflecting in the docker image of docker-bench. Can you please let me know regrading this.

[code]

[2020-05-19 07:53] konstruktoid commented on #437
Ah yes, see https://github.com/docker/docker-bench-security/issues/405... It's a classic.

[2020-05-19 07:55] konstruktoid commented on #405
Monthly reminder, @justincormack.

[2020-05-21 04:44] yaminisridaran commented on #437
@konstruktoid I would like to do the signing, publish the docker image. Can you please guide me how to do it.

[2020-05-21 04:48] yaminisridaran commented on #405
@konstruktoid  I would like to contribute for this issue to be solved. Can you please guide me

[2020-05-22 08:46] konstruktoid commented on #405
Thanks @yaminisridaran , but this is done by the Docker organization. Previously by Diogo Mónica and now ... someone else. See https://github.com/docker/docker-bench-security/issues/405#issuecomment-552887772.

[2020-05-22 08:46] konstruktoid commented on #437
See https://github.com/docker/docker-bench-security/issues/405#issuecomment-632576855

[2020-07-07 08:52] zhaocheng173 opened #441 "Hello, the author of Docker-bench-Secruity, the script that runs is currently 1.3.5, while the script that starts with Docker run is 1.3.4. Should this image be updated"
The above is run using a script
[code]

The following one USES Docker Run
[code]

[2020-07-07 08:59] konstruktoid commented on #441
Hi @zhaocheng173, it's a known issue. https://github.com/docker/docker-bench-security/issues/405

[2020-07-07 08:59] konstruktoid commented on #405
Ping @justincormack

[2020-07-07 09:38] zhaocheng173 commented on #441
Using this binary package to build the image directly, is the image made the latest v1.3.5 ？

[2020-07-07 09:41] konstruktoid commented on #441
If you're cloning this repository and building an image, you'll get the updated code.
[code]

[2020-07-07 09:47] zhaocheng173 commented on #441
After execution it was found that an error was reported and my system was using centos7.7
Could you tell me how to modify this place？

[code]

[code]

[code]

[2020-07-07 10:02] konstruktoid commented on #441
You had an network issue when building.
[code]

[2020-07-07 10:05] zhaocheng173 commented on #441
It should be. I can't access this piece. Can the author build a mirror of this piece

[2020-07-07 10:12] konstruktoid commented on #441
[code]

[2020-07-07 10:13] zhaocheng173 commented on #441
Can I upload the image to Docker hub? I always fail to build it due to network reasons

[2020-07-07 11:29] konstruktoid commented on #441
Feel free to do so.

[2020-07-07 13:36] zhaocheng173 commented on #441
Well, my image cannot be built due to network reasons. Can the author upload the image of 1.3.5 to Docker Hub?

[2020-07-07 18:03] konstruktoid commented on #441
I actually can't, see https://github.com/docker/docker-bench-security/issues/405#issuecomment-552887772

[2020-07-10 10:57] konstruktoid commented on #441
Closing since we're all waiting for the Docker organization.

[2020-07-10 10:57] #441 closed

[2020-07-10 10:58] konstruktoid commented on #437
Closing since we're all waiting for the Docker organization.

[2020-07-10 10:58] #437 closed

[2020-07-10 10:58] konstruktoid commented on #433
Closing since we're all waiting for the Docker organization.

[2020-07-10 10:58] #433 closed

[2020-07-10 10:59] konstruktoid commented on #420
Closing since we're all waiting for the Docker organization.

[2020-07-10 10:59] #420 closed

[2020-07-10 10:59] konstruktoid commented on #416
Closing due to inactivity.

[2020-07-10 10:59] #416 closed

[2020-07-10 11:01] konstruktoid commented on #332
Closing due to inactivity.

[2020-07-10 11:01] #332 closed

[2020-07-10 11:03] konstruktoid commented on #329
Closing since we're all waiting for the Docker organization, and #405 includes the discussion regarding access to the Docker image key.

[2020-07-10 11:03] #329 closed

[2020-07-14 03:30] zhaocheng173 opened #442 "In K8S, every container is loaded with a pause container, and there are no limits on the resource limits that docker CIS checks for pause. For this, I would like to ask whether to limit the resource of the pause container？"

[2020-07-14 07:21] konstruktoid commented on #442
Hi @zhaocheng173, do you mean that the script doesn't report the limits correctly on a paused container?
On standalone Docker this seems to work as expected.

[code]

[2020-07-14 07:29] zhaocheng173 commented on #442
The script can check whether there are no restrictions on the memory of those containers. I found that none of my pause containers have memory restrictions. For security, do you need to limit the pause containers, if so, how to adjust How about

[code]

[2020-07-14 07:38] zhaocheng173 commented on #442
The Pause container included in k8s has no resource restrictions by default. This will require resource restrictions for all containers for the docker cis test. Does the container that maintains the network namespace also need to be restricted?
[code]

[2020-07-14 08:02] konstruktoid commented on #442
If the container that maintains the network namespace can handle all traffic and management with a memory restriction I see no issues with that.

[2020-07-14 08:05] zhaocheng173 commented on #442
That means you don't have to restrict the pause container, right?

[2020-07-14 09:26] konstruktoid commented on #442
You still have to set restrictions on the container, the restrictions on the container when it's pause will be the same when running.

[2020-07-14 09:50] zhaocheng173 commented on #442
Ok thank you, by the way do you know how to do memory restriction on infra container

[2020-07-14 09:54] konstruktoid commented on #442
That I don't know.

[2020-09-08 06:47] konstruktoid commented on #442
Closing due to inactivity.

[2020-09-08 06:47] #442 closed

[2020-09-10 09:03] matonb opened #443 "ARM64"
Any chance of building an offical arm64 / aarch64 image?

[2020-09-10 12:00] konstruktoid commented on #443
Hi @matonb, currently no images is building (see https://github.com/docker/docker-bench-security/issues/405), but adding an arm64/aarch64 when everything is up and running again is certainly possible.

[2020-10-13 16:30] sbutt opened #446 "Running docker-bench-security under WSL1"
Hi,

I'm trying to run under WSL1 (can't upgrade to WSL2 just yet) using these instructions https://nickjanetakis.com/blog/setting-up-docker-for-windows-and-wsl-to-work-flawlessly. Seems to work OK, and gives hello-world is working OK. However, when I try to run docker-bench-security, under Ubuntu 18.04 (under WSL)...

`docker run -it --net host --pid host --userns host --cap-add audit_control

[2020-10-13 17:34] konstruktoid commented on #446
Hi @sbutt, can you try running the script and see if it works at all?

Note that the available docker image is old (see https://github.com/docker/docker-bench-security/issues/405), so you should be your own version.

[2020-10-14 11:11] sbutt commented on #446
Seems to build OK...

[code]

However still doesn't run, and gives the same weird error message....

[code]

So, I guess that's a WSL1 problem.

When I run the script alone, it seems to be fine 👍

[code]

So, I think it makes sense to close this issue (unless you have other suggestions?) . Thanks for your help.

[2020-10-14 11:36] konstruktoid commented on #446
Does `/var/lib/docker'´ exist? It could be a windows pathing issue.

[2020-10-14 11:44] sbutt commented on #446
/var/lib/docker does not exist. So, yes I guess that's the problem.

[2020-10-14 12:37] konstruktoid commented on #446
I guess all paths need to be corrected under WSL, I haven't used `docker` in that enviroment so that needs some investigation.

[2020-10-21 06:32] ppratheesh opened #447 "Running docker bench with Docker daemon listen on a specific IP and port"
I have changed the default socket "unix:///var/run/docker.sock" ,which will docker listen to a tcp port and ip address .Here is my daemon.json
[code]
But after this  i am not able to run the docker bench . I am using the following method
[code]
i am guessing docker bench require the /var/run/docker.sock to be mounted to the container .Since my docker daemon listen on tcp port and ip address how ca

[2020-10-21 06:41] konstruktoid commented on #447
Hi @ppratheesh, currently you can't. docker-bench-security requires access to the docker socket in order do get all required information.
You can however use both tcp and socket to get your situation to work.

[2020-10-21 11:38] ppratheesh commented on #447
But using socket would override tlsverify which points  Docker’s tlscacert flag to a trusted CA certificate.After running docker bench i am getting warning `[WARN] 2.11  - Ensure that authorization for Docker client commands is enabled`
my current daemon.json
[code]
so the only way to fix the warning 2.11 is to use a  Docker authorization plugins

[2020-10-22 07:16] konstruktoid commented on #447
What do you mean it overrides the tlsverify flag? It should just allow connections on both port :2376 and the socket (which should only be available locally). After running docker-bench, you can remove the socket setting.

Yes, `2.11` requires authorization plugins.

Also note that if you're running the official Docker image, it is out-of-date (https://github.com/docker/docker-bench-security/issue

[2020-10-30 16:25] scenthound opened #450 "Test 4.6 does not always output affected images"
https://github.com/docker/docker-bench-security/blob/93c619f0187592c1d5139962d6c9e368f80b72a7/tests/4_container_images.sh#L138-L142

The 4.6 check is supposed to display, as a list, all images that are discrepant. However, this check is based on the inclusion of a repotag field which some images may not have.

[2020-10-30 19:25] konstruktoid commented on #450
Hi @scenthound, but in which case doesn't an image have a `RepoTags` field?
According to https://docs.docker.com/engine/api/v1.40/#operation/ImageList it's an required value.

[2020-10-30 23:04] scenthound commented on #450
Hi @konstruktoid - The inspect command shows `RepoTags` are not required (https://docs.docker.com/engine/api/v1.40/#operation/ImageInspect)

To be more specific, images that do not have Healthcheck enabled and are correctly failed - flagging the test as a WARN. However, the subsequent code flagged above only reports the image (in console and the resultant json) if the array return by RepoTags is n

[2020-11-02 07:43] konstruktoid commented on #450
I don't think can create an image without an `RepoTag` with the common tools, but I can add an fallback that just prints the`$img` if `imgName=` is empty.

[2020-11-02 08:28] konstruktoid commented on #450
I believe this is fixed with https://github.com/docker/docker-bench-security/pull/451

[2020-11-02 14:45] scenthound commented on #450
Verified. Output looks much better now. Thanks @konstruktoid !

[2020-11-02 14:45] #450 closed

[2020-11-03 03:50] dylanzt opened #452 "-it options in recommended run commands for prebuilt container"
Hi, I'm curious if there's any particular reason why the recommended run commands for the prebuilt container in the README include the -it flags. We're trying to use this tool in a CI environment where we can't set those flags, and omitting them doesn't seem to have any impact on the operation or output of the tool. It doesn't seem necessary to run interactively.

[2020-11-03 14:17] konstruktoid commented on #452
Hi @dylanzt and thanks for that good question. In all honesty it might just be a 3 year old leftover because, as you said, the container works without `-it`.

[2020-11-17 21:45] Constantin07 opened #453 "excluding group not working"
Trying to exclude the `docker_swarm_configuration` group:

[code]

the `check_1_1` is excluded from output but the groups not:

[code]

[2020-11-18 09:22] konstruktoid commented on #452
@dylanzt, the README has been updated.

[2020-11-18 09:37] konstruktoid commented on #453
Hi again @Constantin07, are you using a image you built yourself or the official one?
[code]

[2020-11-18 09:41] konstruktoid commented on #453
[code]

[2020-11-18 11:18] Constantin07 commented on #453
Thanks @konstruktoid for getting back, I was using official one, `docker/docker-bench-security`
I was running it on the latest CentOS Linux in `bash` shell.  Will test it once again and get back later.

[2020-11-18 12:48] konstruktoid commented on #453
The official `docker/docker-bench-security` image is sorry to say very much out-of-date, see https://github.com/docker/docker-bench-security/issues/405

[2020-11-18 12:49] konstruktoid commented on #405
Ping @justincormack

[2020-11-18 19:38] Constantin07 commented on #453
Thanks @konstruktoid you are right, the image shows version `v1.3.4` which is old. Will build one myself then.

[2020-11-18 20:53] Constantin07 commented on #453
I confirm it works fine now. Thanks @konstruktoid

[2020-11-18 20:53] #453 closed

[2020-12-24 06:59] ghost opened #458 "How do I convert the output of the log into JSON format"
How do I convert the output of the log into JSON format

[2020-12-24 11:43] konstruktoid commented on #458
Hi @zhaocheng173, the script should produce logs in the current directory named `docker-bench-security.sh.log.json` and `docker-bench-security.sh.log`.

[2021-01-12 22:15] adespain opened #459 "docker.service file permission is 640 but it is still giving a WARN notification"
My docker.service file permissions are more restrictive than 644, they are set to 640 and yet it still says WARN and says:

`[WARN] 3.2 - Ensure that docker.service file permissions are set to 644 or more restrictive`